In [3]:
from hossam import load_data
from pandas import CategoricalDtype

In [4]:
origin = load_data("grade")
origin

[data] https://data.hossam.kr/data/common/grade.xlsx
[desc] 어느 학급의 과목별 점수를 조사한 가상의 데이터

field    description
-------  -------------
이름     index
학년     int
성별     str
국어     int
영어     int
수학     int
과학     int

    학년  성별  국어   영어  수학  과학
이름
철수   1  남자  98   77  88  64
영희   2  여자  88  120  62  72
민철   1  남자  92   70  83  79
수현   3  여자  63   60  31  71
호영   4  남자  75   50  90  88
영호   4  남자  80   88  91  72
용식   2  남자  82   88  79  90
나영   1  여자  90   92  81  95
석영   1  남자  91   90  89  80

In [5]:
rows, cols = origin.shape
print("%d행, %d열의 %d차원 데이터" % (rows, cols, origin.ndim))

9행, 6열의 2차원 데이터

In [6]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

In [7]:
칼럼타입변경df = origin.copy()
칼럼타입변경df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

In [8]:
칼럼타입변경df['국어'] = 칼럼타입변경df['국어'].astype('float')
칼럼타입변경df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      float64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: float64(1), int64(4), object(1)
memory usage: 504.0+ bytes

In [9]:
타입변환df = origin.astype({'국어': 'float', '영어' : 'float',
                            '수학': 'str', '과학':'bool'})
타입변환df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      float64
 3   영어      9 non-null      float64
 4   수학      9 non-null      object
 5   과학      9 non-null      bool
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 441.0+ bytes

In [10]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

In [11]:
칼럼단위_명목df = origin.copy()
칼럼단위_명목df['학년'] = 칼럼단위_명목df['학년'].astype('category')
칼럼단위_명목df['성별'] = 칼럼단위_명목df['성별'].astype('category')
칼럼단위_명목df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      category
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(2), int64(4)
memory usage: 706.0+ bytes

In [12]:
범주형df =origin.astype({'학년': 'category', '성별': 'category'})
범주형df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      category
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(2), int64(4)
memory usage: 706.0+ bytes

In [13]:
컬럼단위_서열척도df = origin.copy()
컬럼단위_서열척도df['학년']= 컬럼단위_서열척도df['학년'].astype(
        CategoricalDtype(categories=[1,2,3,4], ordered=True))
컬럼단위_서열척도df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(1), int64(4), object(1)
memory usage: 645.0+ bytes

In [14]:
서열척도df= origin.astype({
    "학년":CategoricalDtype(categories=[1,2,3,4], ordered=True)
})
서열척도df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(1), int64(4), object(1)
memory usage: 645.0+ bytes

In [15]:
이름변경df = origin,rename(
    colums={'국어': 'kor', '영어': 'eng','수학':'math', '과학':'sci'},
    index = {'석영': 'suk', '호영':'ho', '민철':'min','수현':'su'
    }
)
이름변경df

NameError: name 'rename' is not defined