In [6]:
import numpy as np
from hossam import load_data
from pandas import DataFrame
from sklearn.impute import SimpleImputer

In [7]:
df =load_data("month_sales")
df

[data] https://data.hossam.kr/data/lab03/month_sales.xlsx
[desc] 데이터 정제(결측치 처리) 연습문제용 데이터

field     description
--------  -------------
OrderID   주문번호
Product   상품명
Category  상품 카테고리
Price     단가
Quantity  주문 수량

          Product     Category   Price  Quantity
OrderID
1001       Laptop  Electronics  1200.0      10.0
1002        Mouse  Electronics    25.0       NaN
1003     Keyboard  Electronics     NaN       5.0
1004      Monitor  Electronics   300.0       8.0
1005       Webcam  Electronics    80.0       NaN
1006         Desk    Furniture   150.0       3.0
1007        Chair    Furniture     NaN       2.0
1008         Lamp    Furniture    40.0      15.0
1009     Notebook   Stationery     5.0     100.0
1010          Pen   Stationery     1.0       NaN

In [8]:
df.isnull().sum()

Product     0
Category    0
Price       2
Quantity    3
dtype: int64

In [9]:
df2 = df.dropna(subset=['Quantity'])
df2

          Product     Category   Price  Quantity
OrderID
1001       Laptop  Electronics  1200.0      10.0
1003     Keyboard  Electronics     NaN       5.0
1004      Monitor  Electronics   300.0       8.0
1006         Desk    Furniture   150.0       3.0
1007        Chair    Furniture     NaN       2.0
1008         Lamp    Furniture    40.0      15.0
1009     Notebook   Stationery     5.0     100.0

In [10]:
df2_reshape = df2['Price'].values.reshape(-1,1)
df2_reshape

array([[1200.],
       [  nan],
       [ 300.],
       [ 150.],
       [  nan],
       [  40.],
       [   5.]])

In [11]:
imr = SimpleImputer(missing_values=np.nan, strategy='mean')
df_imr = imr.fit_transform(df2_reshape)
df_imr

array([[1200.],
       [ 339.],
       [ 300.],
       [ 150.],
       [ 339.],
       [  40.],
       [   5.]])

In [12]:
df3 = df2.copy()
df3['Price'] = df_imr
df3

          Product     Category   Price  Quantity
OrderID
1001       Laptop  Electronics  1200.0      10.0
1003     Keyboard  Electronics   339.0       5.0
1004      Monitor  Electronics   300.0       8.0
1006         Desk    Furniture   150.0       3.0
1007        Chair    Furniture   339.0       2.0
1008         Lamp    Furniture    40.0      15.0
1009     Notebook   Stationery     5.0     100.0