In [ ]:
from hossam import load_data

from pandas import to_datetime
from pandas import DateOffset
from datetime import datetime as dt
from datetime import timedelta as td

In [20]:
origin = load_data('shopping_orders')
origin

[data] https://data.hossam.kr/data/lab03/shopping_orders.xlsx
[desc] 어느 쇼핑몰의 고객별 주문 내역 데이터
[!] Cannot read metadata

,고객명,주문일,배송완료일시,상품명,상품분류,주문금액,결제방법,배송지역
고객ID,,,,,,,,
C001,김민수,2024년 1월 15일,2024-01-17 14:30:00,무선 이어폰,전자기기,89000,카드결제,서울
C002,이영희,2024년 2월 3일,2024-02-05 16:20:00,겨울 코트,의류,156000,계좌이체,부산
C003,박철수,2024년 2월 14일,2024-02-16 11:45:00,발렌타인 초콜릿,식품,25000,카드결제,대구
C004,최지영,2024년 3월 8일,2024-03-10 13:15:00,여성 향수,화장품,78000,카드결제,인천
C005,정한솔,2024년 3월 22일,2024-03-24 09:30:00,게이밍 마우스,전자기기,65000,카드결제,서울
C006,강미래,2024년 4월 5일,2024-04-07 15:45:00,봄 원피스,의류,89000,계좌이체,광주
C007,윤성호,2024년 4월 20일,2024-04-22 10:20:00,캠핑 텐트,스포츠용품,245000,카드결제,서울
C008,임소영,2024년 5월 12일,2024-05-14 12:30:00,모자,의류,32000,카드결제,대전
C009,조민재,2024년 5월 25일,2024-05-27 17:10:00,아메리카노 원두,식품,18000,계좌이체,울산
C010,한지우,2024년 6월 7일,2024-06-09 14:50:00,여름 샌들,신발,67000,카드결제,부산
C011,신동욱,2024년 6월 21일,2024-06-23 11:25:00,태블릿 PC,전자기기,398000,카드결제,서울
C012,배수진,2024년 7월 4일,2024-07-06 16:40:00,수영복,의류,45000,계좌이체,제주
C013,오현석,2024년 7월 18일,2024-07-20 13:35:00,선크림,화장품,23000,카드결제,인천
C014,류가은,2024년 8월 1일,2024-08-03 10:15:00,에어컨,가전제품,567000,카드결제,서울
C015,서준호,2024년 8월 15일,2024-08-17 15:20:00,운동화,신발,128000,카드결제,대구
C016,남궁민,2024년 9월 3일,2024-09-05 12:45:00,가을 자켓,의류,134000,계좌이체,부산
C017,문채원,2024년 9월 17일,2024-09-19 14:30:00,스마트 워치,전자기기,289000,카드결제,광주
C018,황보라,2024년 10월 2일,2024-10-04 11:50:00,추석 선물세트,식품,85000,카드결제,서울
C019,전민혁,2024년 10월 16일,2024-10-18 16:25:00,겨울 부츠,신발,156000,카드결제,대전
C020,공유진,2024년 10월 30일,2024-11-01 13:40:00,할로윈 코스튬,의류,67000,계좌이체,인천
C021,김소희,2024년 11월 8일,2024-11-10 15:15:00,가습기,가전제품,89000,카드결제,서울
C022,이준영,2024년 11월 22일,2024-11-24 12:20:00,겨울 장갑,의류,28000,카드결제,울산
C023,박지민,2024년 12월 5일,2024-12-07 10:45:00,크리스마스 케이크,식품,45000,계좌이체,부산
C024,최수현,2024년 12월 19일,2024-12-21 14:55:00,연말 파티 드레스,의류,198000,카드결제,서울
C025,정예린,2025년 1월 2일,2025-01-04 16:30:00,신년 달력,문구용품,15000,카드결제,대구
C001,김민수,2025년 1월 18일,2025-01-20 11:40:00,블루투스 스피커,전자기기,125000,카드결제,서울
C003,박철수,2025년 2월 8일,2025-02-10 13:25:00,발렌타인 꽃다발,선물용품,35000,계좌이체,대구
C007,윤성호,2025년 2월 22일,2025-02-24 15:50:00,등산 배낭,스포츠용품,89000,카드결제,서울
C012,배수진,2025년 3월 15일,2025-03-17 12:30:00,봄 스카프,의류,42000,카드결제,제주
C018,황보라,2025년 3월 29일,2025-03-31 14:45:00,화분,생활용품,28000,계좌이체,서울

In [21]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, C001 to C018
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객명     30 non-null     object
 1   주문일     30 non-null     object
 2   배송완료일시  30 non-null     datetime64[ns]
 3   상품명     30 non-null     object
 4   상품분류    30 non-null     object
 5   주문금액    30 non-null     int64
 6   결제방법    30 non-null     object
 7   배송지역    30 non-null     object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 3.2+ KB

In [22]:
df = origin.copy()

df['주문일_타입변환'] = to_datetime(df['주문일'], format='%Y년 %m월 %d일')

print(df[['주문일', '주문일_타입변환']].info())

df[['주문일', '주문일_타입변환']].head()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, C001 to C018
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   주문일       30 non-null     object
 1   주문일_타입변환  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 1.8+ KB
None

               주문일   주문일_타입변환
고객ID
C001  2024년 1월 15일 2024-01-15
C002   2024년 2월 3일 2024-02-03
C003  2024년 2월 14일 2024-02-14
C004   2024년 3월 8일 2024-03-08
C005  2024년 3월 22일 2024-03-22

In [23]:
#주문일에서 년/월/일 정보 추출
df['주문년도'] = df['주문일_타입변환'].dt.year
df['주문월'] = df['주문일_타입변환'].dt.month
df['주문일자'] = df['주문일_타입변환'].dt.day

df[['고객명', '주문일', '주문년도', '주문월', '주문일자']].head()

      고객명           주문일  주문년도  주문월  주문일자
고객ID
C001  김민수  2024년 1월 15일  2024    1    15
C002  이영희   2024년 2월 3일  2024    2     3
C003  박철수  2024년 2월 14일  2024    2    14
C004  최지영   2024년 3월 8일  2024    3     8
C005  정한솔  2024년 3월 22일  2024    3    22

In [24]:
# 주문일 기준 요일 정보 추출
df['주문요일영문'] = df['주문일_타입변환'].dt.day_name()# 영문 요일명
df['주문요일번호']= df['주문일_타입변환'].dt.dayofweek #0=월요일,6=일요일

# 한글 요일명 매핑
요일매핑 = {0 : '월요일', 1:'화요일', 2:'수요일', 3:'목요일', 4:'금요일', 5:'토요일', 6:'일요일'}
df['주문요일'] = df['주문요일번호'].map(요일매핑)

df[['고객명', '주문일', '주문요일영문', '주문요일번호', '주문요일']].head()

      고객명           주문일     주문요일영문  주문요일번호 주문요일
고객ID
C001  김민수  2024년 1월 15일     Monday       0  월요일
C002  이영희   2024년 2월 3일   Saturday       5  토요일
C003  박철수  2024년 2월 14일  Wednesday       2  수요일
C004  최지영   2024년 3월 8일     Friday       4  금요일
C005  정한솔  2024년 3월 22일     Friday       4  금요일

In [25]:
df['주문분기'] = df['주문일_타입변환'].dt.quarter
df['연중몇일째']= df['주문일_타입변환'].dt.dayofyear  

df[['고객명', '주문일', '주문분기', '연중몇일째']].head()

      고객명           주문일  주문분기  연중몇일째
고객ID
C001  김민수  2024년 1월 15일     1     15
C002  이영희   2024년 2월 3일     1     34
C003  박철수  2024년 2월 14일     1     45
C004  최지영   2024년 3월 8일     1     68
C005  정한솔  2024년 3월 22일     1     82

In [26]:
df['배송완료-시간'] = df['배송완료일시'].dt.hour
df['배송완료-분'] = df['배송완료일시'].dt.minute
df['배송완료-초'] = df['배송완료일시'].dt.second

df[['고객명', '배송완료-시간', '배송완료-분','배송완료-초']].head()

      고객명  배송완료-시간  배송완료-분  배송완료-초
고객ID
C001  김민수       14      30       0
C002  이영희       16      20       0
C003  박철수       11      45       0
C004  최지영       13      15       0
C005  정한솔        9      30       0

In [27]:
df['배송소요일'] = (df['배송완료일시'] - df['주문일_타입변환']).dt.days
df[['주문일', '배송완료일시', '배송소요일']].head()

               주문일              배송완료일시  배송소요일
고객ID
C001  2024년 1월 15일 2024-01-17 14:30:00      2
C002   2024년 2월 3일 2024-02-05 16:20:00      2
C003  2024년 2월 14일 2024-02-16 11:45:00      2
C004   2024년 3월 8일 2024-03-10 13:15:00      2
C005  2024년 3월 22일 2024-03-24 09:30:00      2

In [28]:
오늘 = dt.now()
df['배송완료후_경과일'] = (오늘 - df['배송완료일시']).dt.days
df[['주문일', '배송완료일시', '배송완료후_경과일']].head()

               주문일              배송완료일시  배송완료후_경과일
고객ID
C001  2024년 1월 15일 2024-01-17 14:30:00        684
C002   2024년 2월 3일 2024-02-05 16:20:00        664
C003  2024년 2월 14일 2024-02-16 11:45:00        654
C004   2024년 3월 8일 2024-03-10 13:15:00        631
C005  2024년 3월 22일 2024-03-24 09:30:00        617

In [29]:
df['재주문예상일'] = df['배송완료일시']+td(days=30)
df[['고객명', '배송완료일시', '재주문예상일']].head()

      고객명              배송완료일시              재주문예상일
고객ID
C001  김민수 2024-01-17 14:30:00 2024-02-16 14:30:00
C002  이영희 2024-02-05 16:20:00 2024-03-06 16:20:00
C003  박철수 2024-02-16 11:45:00 2024-03-17 11:45:00
C004  최지영 2024-03-10 13:15:00 2024-04-09 13:15:00
C005  정한솔 2024-03-24 09:30:00 2024-04-23 09:30:00

In [31]:
# 1년 A/S 보장 종료일(주문일 기준) 
df['AS보장만료일'] = df['주문일_타입변환']+ DateOffset(years=1)
#예상 매출 집계일 (주문일에서 3개월 후)
df['매출집계예정일'] = df['주문일_타입변환']+DateOffset(months=3)
#리뷰요청 예정일시(배송완료시점에서 7일 12시간 경과후, 혼합사용 가능)
df['리뷰요청예정'] = df['배송완료일시']+DateOffset(days=3, hours=12)

df[['고객명', '주문일', 'AS보장만료일', '매출집계예정일', '리뷰요청예정']].head()

      고객명           주문일    AS보장만료일    매출집계예정일              리뷰요청예정
고객ID
C001  김민수  2024년 1월 15일 2025-01-15 2024-04-15 2024-01-21 02:30:00
C002  이영희   2024년 2월 3일 2025-02-03 2024-05-03 2024-02-09 04:20:00
C003  박철수  2024년 2월 14일 2025-02-14 2024-05-14 2024-02-19 23:45:00
C004  최지영   2024년 3월 8일 2025-03-08 2024-06-08 2024-03-14 01:15:00
C005  정한솔  2024년 3월 22일 2025-03-22 2024-06-22 2024-03-27 21:30:00