In [1]:
from hossam import load_data

In [2]:
origin = load_data('group_list')
origin

[data] https://data.hossam.kr/data/lab03/group_list.xlsx
[desc] 어느 게임 동아리의 회원 목록을 조사한 가상의 데이터
[!] Cannot read metadata

,아이디,이메일,주소,전화번호,메모,등급,상태,등록일시
이름,,,,,,,,
김철수,kimcs,kimcs@naver.com,서울시 강남구,010-1234-5678,파이썬 좋아함,골드,활성,2024-01-15 09:30:00
이영희,leeyh,leeyh@daum.net,부산시 해운대구,010-2345-6789,메모 없음,실버,비활성,2024-02-20 14:15:30
박민수,parkms,parkms@gmail.com,대구시 중구,010-3456-7890,판다스 사용중,브론즈,활성,2024-03-10 16:45:00
최수지,choisj,choisj@hanmail.net,인천시 연수구,010-4567-8901,앞쪽공백,플래티넘,활성,2024-04-05 11:20:15
정하나,junghana,junghana@nate.com,광주시 서구,010-5678-9012,뒤쪽공백,골드,비활성,2024-05-12 08:55:45
강민호,kangmh,kangmh@yahoo.co.kr,대전시 유성구,010-6789-0123,대소문자 혼합,실버,활성,2024-06-18 13:30:20
송지은,songje,songje@outlook.com,울산시 남구,010-7890-1234,"쉼표,포함",브론즈,활성,2024-07-22 17:10:30
윤태우,yoontw,yoontw@kakao.com,세종시,010-8901-2345,숫자123포함,플래티넘,비활성,2024-08-30 10:05:00

In [4]:
# 원본 데이터 프레임 복사
df = origin.copy()

df['이메일_소문자'] = df['이메일'].str.lower()
df['이메일_대문자'] = df['이메일'].str.upper()
df['단어_첫글자'] = df['아이디'].str.title()        #단어 첫 글자 대문자
df['첫글자'] = df['아이디'].str.capitalize()        #문장 첫 글자 대문자
df[['이메일', '이메일_소문자', '이메일_대문자', '단어_첫글자', '첫글자']].head()

,이메일,이메일_소문자,이메일_대문자,단어_첫글자,첫글자
이름,,,,,
김철수,kimcs@naver.com,kimcs@naver.com,KIMCS@NAVER.COM,Kimcs,Kimcs
이영희,leeyh@daum.net,leeyh@daum.net,LEEYH@DAUM.NET,Leeyh,Leeyh
박민수,parkms@gmail.com,parkms@gmail.com,PARKMS@GMAIL.COM,Parkms,Parkms
최수지,choisj@hanmail.net,choisj@hanmail.net,CHOISJ@HANMAIL.NET,Choisj,Choisj
정하나,junghana@nate.com,junghana@nate.com,JUNGHANA@NATE.COM,Junghana,Junghana

In [7]:
df['strip'] = df['메모'].str.strip()
df['lstrip']= df['메모'].str.lstrip()
df['rstrip'] = df['메모'].str.rstrip()
df['zfill']= df['아이디'].astype(str).str.zfill(12)
df['pad'] = df['아이디'].astype(str).str.pad(12, side='both',fillchar = '*' )
df[['strip', 'lstrip', 'rstrip', 'zfill', 'pad']].head()

       strip     lstrip     rstrip         zfill           pad
이름
김철수  파이썬 좋아함  파이썬 좋아함      파이썬 좋아함  0000000kimcs  ***kimcs****
이영희    메모 없음      메모 없음      메모 없음  0000000leeyh  ***leeyh****
박민수  판다스 사용중    판다스 사용중    판다스 사용중  000000parkms  ***parkms***
최수지     앞쪽공백       앞쪽공백       앞쪽공백  000000choisj  ***choisj***
정하나     뒤쪽공백     뒤쪽공백         뒤쪽공백  0000junghana  **junghana**

In [12]:
# 이메일이 'naver.com' 을 포함하는지 확인
df['네이버이메일'] = df['이메일'].str.contains('naver.com')
# 전화번호가 '010-'으로 시작하는지
df['휴대폰번호'] = df['전화번호'].str.startswith('010-')
# 주소가 '구'로 끝나는지
df['구단위주소'] = df['주소'].str.endswith('구')
#결과 확인
df[['이메일', '네이버이메일', '전화번호', '휴대폰번호', '주소', '구단위주소']].head()

                    이메일  네이버이메일           전화번호  휴대폰번호        주소  구단위주소
이름
김철수     kimcs@naver.com    True  010-1234-5678   True   서울시 강남구   True
이영희      leeyh@daum.net   False  010-2345-6789   True  부산시 해운대구   True
박민수    parkms@gmail.com   False  010-3456-7890   True    대구시 중구   True
최수지  choisj@hanmail.net   False  010-4567-8901   True   인천시 연수구   True
정하나   junghana@nate.com   False  010-5678-9012   True    광주시 서구   True

In [14]:
#메모에서 '중' 문자가 처음 나오는 위치(0부터 시작, 못찾으면 -1)

df['메모_중_위치'] = df['메모'].str.find('중')

# 메모에서 '중'이라는  글자의 개수
df['메모_중_개수'] = df['메모'].str.count('중')
# '메모 없음'이라는 문자열을 'empty'로 치환
df['메모없음'] = df['메모'].str.replace('메모없음', 'empty')
df[['메모', '메모_중_위치','메모_중_개수', '메모없음']].head()

              메모  메모_중_위치  메모_중_개수         메모없음
이름
김철수    파이썬 좋아함         -1        0    파이썬 좋아함
이영희        메모 없음       -1        0        메모 없음
박민수      판다스 사용중        6        1      판다스 사용중
최수지         앞쪽공백       -1        0         앞쪽공백
정하나       뒤쪽공백         -1        0       뒤쪽공백

In [16]:
#'@'기준으로 분할한 후 0번째요소 반환
df['사용자명'] = df['이메일'].str.split('@').str.get(0)
#'@'기준으로 분할한 수 1번째 요소 반환
df['도메인']= df['이메일'].str.split('@').str.get(1)
#이름과 이메일 뒷부분 결합
df['이름_이메일'] = df.index.str.cat(df['도메인'], sep='@')
df[['사용자명', '도메인', '이름_이메일']].head()

         사용자명          도메인           이름_이메일
이름
김철수     kimcs    naver.com    김철수@naver.com
이영희     leeyh     daum.net     이영희@daum.net
박민수    parkms    gmail.com    박민수@gmail.com
최수지    choisj  hanmail.net  최수지@hanmail.net
정하나  junghana     nate.com     정하나@nate.com

In [18]:
df['아이디_숫자여부(1)'] = df['아이디'].str.isdigit()
df['아이디_숫자여부(2)'] = df['아이디'].str.isnumeric()
df['등급_문자여부'] = df['등급'].str.isalpha()
df['등급_문자+숫자여부'] = df['등급'].str.isalnum()

df[['아이디', '아이디_숫자여부(1)', '아이디_숫자여부(2)', '등급', '등급_문자여부', '등급_문자+숫자여부']].head()

          아이디  아이디_숫자여부(1)  아이디_숫자여부(2)    등급  등급_문자여부  등급_문자+숫자여부
이름
김철수     kimcs        False        False    골드     True        True
이영희     leeyh        False        False    실버     True        True
박민수    parkms        False        False   브론즈     True        True
최수지    choisj        False        False  플래티넘     True        True
정하나  junghana        False        False    골드     True        True

In [20]:
df['이름_길이'] = df.index.str.len()
df['이름_성'] = df.index.str.slice(0,1)
df['전화번호_뒷4자리'] = df['전화번호'].str.slice(-4)
df[['이름_길이', '이름_성', '전화번호', '전화번호_뒷4자리']].head()

     이름_길이 이름_성           전화번호 전화번호_뒷4자리
이름
김철수      3    김  010-1234-5678      5678
이영희      3    이  010-2345-6789      6789
박민수      3    박  010-3456-7890      7890
최수지      3    최  010-4567-8901      8901
정하나      3    정  010-5678-9012      9012