In [13]:
monsters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   monster_id     20 non-null     object
 1   last_seen      20 non-null     datetime64[ns]
 2   species        20 non-null     object
 3   habitat        20 non-null     object
 4   height         20 non-null     float64
 5   weight         20 non-null     float64
 6   caution_level  20 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.2+ KB

In [14]:
from hossam import load_data
from pandas import Series

In [15]:
monsters = load_data("monsters")
monsters

[data] https://data.hossam.kr/data/lab03/monsters.xlsx
[desc] 신비한 생물 연구소의 몬스터 데이터

field          description
-------------  ----------------------
monster_id     몬스터 고유 ID
last_seen      마지막으로 관찰된 날짜
species        생물 종
habitat        서식지
height         키 (m)
weight         몸무게 (kg)
caution_level  위험 등급

   monster_id  last_seen   species   habitat  height   weight caution_level
0        M001 2024-01-15   Griffin  Mountain     2.5    150.5          High
1        M002 2024-02-20   Unicorn    Forest     2.1    120.0           Low
2        M003 2024-03-10    Dragon   Volcano    15.2   5500.0     Very High
3        M004 2024-03-12    Dragon   Volcano    14.8   5300.0     Very High
4        M005 2024-04-05    Kraken     Ocean    30.5  15000.0          High
5        M006 2024-05-21   Phoenix    Desert     1.8     25.5        Medium
6        M007 2024-06-30   Mermaid     Ocean     1.9     65.5           Low
7        M008 2024-07-14    Goblin      Cave     1.1     40.2        Medium
8        M009 2024-08-01     Fairy    Forest     0.3      0.5           Low
9        M010 2024-09-10     Hydra     Swamp     5.5    800.0          High
10       M011 2024-10-02   Cyclops    Island     8.2   2500.0          High
11       M012 2024-11-18     Gnome    Garden     0.4      5.1           Low
12       M013 2024-12-25      Yeti  Mountain     3.5    300.0        Medium
13       M014 2025-01-20    Sphinx    Desert     2.8    180.0        Medium
14       M015 2025-02-15   Banshee     Ruins     1.7     45.0          High
15       M016 2025-03-22  Werewolf    Forest     2.3    110.0          High
16       M017 2025-04-18   Vampire    Castle     1.8     75.0          High
17       M018 2025-05-30   Chimera  Mountain     3.1    450.0     Very High
18       M019 2025-06-11  Basilisk     Sewer     4.0    200.0     Very High
19       M020 2025-07-07  Gargoyle   Rooftop     2.0    500.0        Medium

In [16]:
df1 = monsters.drop(columns=['last_seen'])
df1.head

<bound method NDFrame.head of    monster_id   species   habitat  height   weight caution_level
0        M001   Griffin  Mountain     2.5    150.5          High
1        M002   Unicorn    Forest     2.1    120.0           Low
2        M003    Dragon   Volcano    15.2   5500.0     Very High
3        M004    Dragon   Volcano    14.8   5300.0     Very High
4        M005    Kraken     Ocean    30.5  15000.0          High
5        M006   Phoenix    Desert     1.8     25.5        Medium
6        M007   Mermaid     Ocean     1.9     65.5           Low
7        M008    Goblin      Cave     1.1     40.2        Medium
8        M009     Fairy    Forest     0.3      0.5           Low
9        M010     Hydra     Swamp     5.5    800.0          High
10       M011   Cyclops    Island     8.2   2500.0          High
11       M012     Gnome    Garden     0.4      5.1           Low
12       M013      Yeti  Mountain     3.5    300.0        Medium
13       M014    Sphinx    Desert     2.8    180.0        Medium
14       M015   Banshee     Ruins     1.7     45.0          High
15       M016  Werewolf    Forest     2.3    110.0          High
16       M017   Vampire    Castle     1.8     75.0          High
17       M018   Chimera  Mountain     3.1    450.0     Very High
18       M019  Basilisk     Sewer     4.0    200.0     Very High
19       M020  Gargoyle   Rooftop     2.0    500.0        Medium>

In [17]:
new_monster = Series({'monster_id': 'M021', 'height':2.2, 'height': 'Lake','species':'Kelpie',
                      'cautiion_level':'Mediup'})

df2 = df1.copy()
df2.loc[df2.index.max()+1]=new_monster
df2

   monster_id   species   habitat height   weight caution_level
0        M001   Griffin  Mountain    2.5    150.5          High
1        M002   Unicorn    Forest    2.1    120.0           Low
2        M003    Dragon   Volcano   15.2   5500.0     Very High
3        M004    Dragon   Volcano   14.8   5300.0     Very High
4        M005    Kraken     Ocean   30.5  15000.0          High
5        M006   Phoenix    Desert    1.8     25.5        Medium
6        M007   Mermaid     Ocean    1.9     65.5           Low
7        M008    Goblin      Cave    1.1     40.2        Medium
8        M009     Fairy    Forest    0.3      0.5           Low
9        M010     Hydra     Swamp    5.5    800.0          High
10       M011   Cyclops    Island    8.2   2500.0          High
11       M012     Gnome    Garden    0.4      5.1           Low
12       M013      Yeti  Mountain    3.5    300.0        Medium
13       M014    Sphinx    Desert    2.8    180.0        Medium
14       M015   Banshee     Ruins    1.7     45.0          High
15       M016  Werewolf    Forest    2.3    110.0          High
16       M017   Vampire    Castle    1.8     75.0          High
17       M018   Chimera  Mountain    3.1    450.0     Very High
18       M019  Basilisk     Sewer    4.0    200.0     Very High
19       M020  Gargoyle   Rooftop    2.0    500.0        Medium
20       M021    Kelpie       NaN   Lake      NaN           NaN

In [18]:
df3 =df2.copy()
m003_data = df3[df3['monster_id'] =='M003'].copy()
m003_data['monster_id']="M003_copy"

df3.iloc[df3[df3['monster_id']== 'M004'].index] = m003_data

In [20]:
df4 =df3.reindex(columns=['monster_id', 'caution_level', 'species','habitat', 'height', 'weight'])
df4

   monster_id caution_level   species   habitat height   weight
0        M001          High   Griffin  Mountain    2.5    150.5
1        M002           Low   Unicorn    Forest    2.1    120.0
2        M003     Very High    Dragon   Volcano   15.2   5500.0
3   M003_copy     Very High    Dragon   Volcano   15.2   5500.0
4        M005          High    Kraken     Ocean   30.5  15000.0
5        M006        Medium   Phoenix    Desert    1.8     25.5
6        M007           Low   Mermaid     Ocean    1.9     65.5
7        M008        Medium    Goblin      Cave    1.1     40.2
8        M009           Low     Fairy    Forest    0.3      0.5
9        M010          High     Hydra     Swamp    5.5    800.0
10       M011          High   Cyclops    Island    8.2   2500.0
11       M012           Low     Gnome    Garden    0.4      5.1
12       M013        Medium      Yeti  Mountain    3.5    300.0
13       M014        Medium    Sphinx    Desert    2.8    180.0
14       M015          High   Banshee     Ruins    1.7     45.0
15       M016          High  Werewolf    Forest    2.3    110.0
16       M017          High   Vampire    Castle    1.8     75.0
17       M018     Very High   Chimera  Mountain    3.1    450.0
18       M019     Very High  Basilisk     Sewer    4.0    200.0
19       M020        Medium  Gargoyle   Rooftop    2.0    500.0
20       M021           NaN    Kelpie       NaN   Lake      NaN