In [ ]:
from hossam import load_data
from pandas import CategoricalDtype

In [7]:
origin = load_data("fruit_shop")
origin

[data] https://data.hossam.kr/data/lab03/fruit_shop.xlsx
[desc] 어느 과일 가게의 매출을 정리한 가상의 데이터(인덱스와 메타데이터 없음)
[!] Cannot read metadata

    판매일   과일 등급    가격  Num_Sold
0     1   사과  A  1500        10
1     1  바나나  B  1000        15
2     1   사과  B  1200         5
3     2  복숭아  A  2500         8
4     2  바나나  A  1200        12
5     2   사과  C  1000        20
6     3   사과  A  1500        12
7     3  복숭아  B  2200        10
8     3  바나나  B  1000        18
9     4  바나나  A  1200        20
10    4   사과  B  1200        11
11    4  복숭아  A  2500        15

In [8]:
rows, cols = origin.shape
ndim = origin.ndim
print("%d %d열의 %d차원 데이터" % (rows,cols,ndim))

12 5열의 2차원 데이터

In [9]:
exam_df2 = origin.rename(columns={"Num_Sold": "판매량"})
exam_df2

    판매일   과일 등급    가격  판매량
0     1   사과  A  1500   10
1     1  바나나  B  1000   15
2     1   사과  B  1200    5
3     2  복숭아  A  2500    8
4     2  바나나  A  1200   12
5     2   사과  C  1000   20
6     3   사과  A  1500   12
7     3  복숭아  B  2200   10
8     3  바나나  B  1000   18
9     4  바나나  A  1200   20
10    4   사과  B  1200   11
11    4  복숭아  A  2500   15

In [10]:
exam_df3 = exam_df2.astype({
    '과일' : 'category',
    '등급' : CategoricalDtype(categories=['A','B','C'], ordered=True)
})

exam_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   판매일     12 non-null     int64
 1   과일      12 non-null     category
 2   등급      12 non-null     category
 3   가격      12 non-null     int64
 4   판매량     12 non-null     int64
dtypes: category(2), int64(3)
memory usage: 708.0 bytes