In [1]:
from hossam import load_data
from pandas import pivot_table,melt

In [2]:
df=load_data('shop_order_list')
df

[data] https://data.hossam.kr/data/lab04/shop_order_list.xlsx
[desc] 온라인 쇼핑몰의 최근 고객 주문 데이터
[!] Cannot read metadata

          UserID   Product   Price     Category   Region  OrderDate
OrderID
1001     user001    Laptop  1200.0  Electronics    Seoul 2023-01-15
1002     user002     Mouse    25.0  Electronics    Busan 2023-01-16
1003     user003  Keyboard    70.0  Electronics    Seoul 2023-01-17
1004     user001      Book    15.0        Books  Incheon 2023-01-18
1005     user004   T-shirt    30.0      Apparel  Gwangju 2023-01-19
1006     user002      Book    20.0        Books    Seoul 2023-01-20
1007     user005     Jeans    80.0      Apparel    Busan 2023-02-21
1008     user001   Monitor   300.0  Electronics    Seoul 2023-02-22
1009     user006      Book    18.0        Books    Daegu 2023-02-23
1010     user007    Jacket   150.0      Apparel    Seoul 2023-02-24
1011     user003    Webcam     NaN  Electronics  Incheon 2023-03-25
1012     user008    Coffee     5.0         Food    Busan 2023-03-26
1013     user009     Snack     3.0         Food  Gwangju 2023-03-27
1014     user002    Laptop  1300.0  Electronics    Seoul 2023-03-28
1015     user010     Shoes   120.0      Apparel    Daegu 2023-03-29
1016     user005      Book    22.0        Books    Seoul 2023-04-10
1017     user001      Desk   250.0    Furniture    Busan 2023-04-11
1018     user004     Chair     NaN    Furniture    Seoul 2023-04-12
1019     user007      Book    12.0        Books  Incheon 2023-04-13
1020     user003       Hat    40.0      Apparel    Seoul 2023-04-14

In [3]:
print("결측치 확인:")
df.isnull().sum()

결측치 확인:

UserID       0
Product      0
Price        2
Category     0
Region       0
OrderDate    0
dtype: int64

In [4]:
df2 = df.copy()
price_mean = df2['Price'].mean()
df2["Price"] = df2['Price'].fillna(price_mean)
df2

          UserID   Product        Price     Category   Region  OrderDate
OrderID
1001     user001    Laptop  1200.000000  Electronics    Seoul 2023-01-15
1002     user002     Mouse    25.000000  Electronics    Busan 2023-01-16
1003     user003  Keyboard    70.000000  Electronics    Seoul 2023-01-17
1004     user001      Book    15.000000        Books  Incheon 2023-01-18
1005     user004   T-shirt    30.000000      Apparel  Gwangju 2023-01-19
1006     user002      Book    20.000000        Books    Seoul 2023-01-20
1007     user005     Jeans    80.000000      Apparel    Busan 2023-02-21
1008     user001   Monitor   300.000000  Electronics    Seoul 2023-02-22
1009     user006      Book    18.000000        Books    Daegu 2023-02-23
1010     user007    Jacket   150.000000      Apparel    Seoul 2023-02-24
1011     user003    Webcam   203.333333  Electronics  Incheon 2023-03-25
1012     user008    Coffee     5.000000         Food    Busan 2023-03-26
1013     user009     Snack     3.000000         Food  Gwangju 2023-03-27
1014     user002    Laptop  1300.000000  Electronics    Seoul 2023-03-28
1015     user010     Shoes   120.000000      Apparel    Daegu 2023-03-29
1016     user005      Book    22.000000        Books    Seoul 2023-04-10
1017     user001      Desk   250.000000    Furniture    Busan 2023-04-11
1018     user004     Chair   203.333333    Furniture    Seoul 2023-04-12
1019     user007      Book    12.000000        Books  Incheon 2023-04-13
1020     user003       Hat    40.000000      Apparel    Seoul 2023-04-14

In [5]:
df2['Category'].value_counts().head(3)

Category
Electronics    6
Books          5
Apparel        5
Name: count, dtype: int64

In [7]:
df3=df2.filter(['Region', 'Price']).groupby('Region').mean()
df3.sort_values('Price',ascending=False)

              Price
Region
Seoul    367.259259
Busan     90.000000
Incheon   76.777778
Daegu     69.000000
Gwangju   16.500000