In [ ]:
, merge
from hossam import load_data
import numpy as np

In [9]:
data = {
    'customer_id': [101, 102, 103, 104, 105, 106],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'age': [25, 32, 45, 38, 29, 41]
}

df = DataFrame(data)

In [10]:
df = load_data("order_history")
df

[data] https://data.hossam.kr/data/lab04/order_history.xlsx
[desc] 신입 데이터 분석가를 위한 실전 미션!

field        description
-----------  -------------
purchase_id  일련번호
customer_id  고객번호
item         상품명
price        금액

             customer_id             item   price
purchase_id
1                    101           Laptop  1200.0
2                    102            Mouse    25.0
3                    103         Keyboard     NaN
4                    101          Monitor   300.0
5                    104           Webcam  5000.0
6                    102          USB Hub    30.0
7                    105           Laptop  1100.0
8                    103            Mouse     NaN
9                    101     External HDD    80.0
10                   106  Docking Station   150.0

In [11]:
결측치처리 = df.copy()
mean_price = 결측치처리['price'].mean()
결측치처리['price'] = 결측치처리['price'].fillna(value=mean_price)
결측치처리

             customer_id             item     price
purchase_id
1                    101           Laptop  1200.000
2                    102            Mouse    25.000
3                    103         Keyboard   985.625
4                    101          Monitor   300.000
5                    104           Webcam  5000.000
6                    102          USB Hub    30.000
7                    105           Laptop  1100.000
8                    103            Mouse   985.625
9                    101     External HDD    80.000
10                   106  Docking Station   150.000

In [12]:
이상치처리 = 결측치처리.copy()
median_price = 이상치처리['price'].median()
이상치처리.loc[이상치처리['price']> 1000, 'price']=median_price
이상치처리

             customer_id             item     price
purchase_id
1                    101           Laptop  642.8125
2                    102            Mouse   25.0000
3                    103         Keyboard  985.6250
4                    101          Monitor  300.0000
5                    104           Webcam  642.8125
6                    102          USB Hub   30.0000
7                    105           Laptop  642.8125
8                    103            Mouse  985.6250
9                    101     External HDD   80.0000
10                   106  Docking Station  150.0000

In [14]:
병합 = merge(이상치처리, df, on='customer_id')
병합

    customer_id           item_x   price_x           item_y  price_y
0           101           Laptop  642.8125           Laptop   1200.0
1           101           Laptop  642.8125          Monitor    300.0
2           101           Laptop  642.8125     External HDD     80.0
3           102            Mouse   25.0000            Mouse     25.0
4           102            Mouse   25.0000          USB Hub     30.0
5           103         Keyboard  985.6250         Keyboard      NaN
6           103         Keyboard  985.6250            Mouse      NaN
7           101          Monitor  300.0000           Laptop   1200.0
8           101          Monitor  300.0000          Monitor    300.0
9           101          Monitor  300.0000     External HDD     80.0
10          104           Webcam  642.8125           Webcam   5000.0
11          102          USB Hub   30.0000            Mouse     25.0
12          102          USB Hub   30.0000          USB Hub     30.0
13          105           Laptop  642.8125           Laptop   1100.0
14          103            Mouse  985.6250         Keyboard      NaN
15          103            Mouse  985.6250            Mouse      NaN
16          101     External HDD   80.0000           Laptop   1200.0
17          101     External HDD   80.0000          Monitor    300.0
18          101     External HDD   80.0000     External HDD     80.0
19          106  Docking Station  150.0000  Docking Station    150.0

In [15]:
타입변환 = 병합.astype({'customer_id': 'str'})
타입변환.describe()

          price_x     price_y
count   20.000000    16.00000
mean   427.828125   693.75000
std    370.339675  1242.15203
min     25.000000    25.00000
25%     80.000000    67.50000
50%    300.000000   225.00000
75%    642.812500  1125.00000
max    985.625000  5000.00000