In [6]:
from hossam import load_data

In [9]:
df = load_data("online_shop_sales")
df

[data] https://data.hossam.kr/data/lab05/online_shop_sales.xlsx
[desc] 우수 고객을 찾아라! - 영업 데이터 분석 챌린지

field      description
---------  ----------------
OrderID    주문번호(인덱스)
UserID     고객아이디
Product    상품
Price      가격
Quantity   주문수량
OrderDate  주문일

         UserID          Product  Price  Quantity  OrderDate
OrderID
1          1001           Laptop   1200         1 2024-10-01
2          1002            Mouse     25         2 2024-10-01
3          1001         Keyboard     75         1 2024-10-02
4          1003          Monitor    300         1 2024-10-03
5          1002           Webcam     50         1 2024-10-04
6          1003       HDMI Cable     15         3 2024-10-05
7          1001          USB Hub     30         2 2024-10-06
8          1004           Laptop   1300         1 2024-10-07
9          1002            Mouse     25         1 2024-10-08
10         1003          Monitor    300         2 2024-10-09
11         1001     External SSD    150         1 2024-10-10
12         1004  Docking Station    250         1 2024-10-11
13         1002         Keyboard     80         1 2024-10-12
14         1003           Webcam     55         1 2024-10-13
15         1001            Mouse     28         1 2024-10-14

In [10]:
df1 = df.copy()
df1['Total'] = df1['Price']*df1['Quantity']
df2=df1.filter(['UserID', 'Total']).groupby('UserID').sum()
df2

        Total
UserID
1001     1513
1002      205
1003     1000
1004     1550

In [11]:
df2.sort_values('Total', ascending=False).head(2)

        Total
UserID
1004     1550
1001     1513