In [3]:
from hossam import load_data
from pandas import DataFrame, get_dummies, merge
from sklearn.preprocessing import OneHotEncoder

In [5]:
origin = load_data('nursing_grades')
origin

[data] https://data.hossam.kr/data/lab05/nursing_grades.xlsx
[desc] 어느 간호학과 대학원에 지원한 학생들에 대한 합격/불합격 여부를 조사한 가상의 데이터(메타데이터 없음)
[!] Cannot read metadata

          이름 성별  필기점수  학부성적  병원경력 합격여부
접수코드
NRS0001  장은우  남   380  3.61     3  불합격
NRS0002  최지호  남   660  3.67     3   합격
NRS0003  김하준  남   800  4.00     1   합격
NRS0004  임아윤  여   640  3.19     4   합격
NRS0005  강하준  남   520  2.93     4  불합격
...      ... ..   ...   ...   ...  ...
NRS0396  박지유  여   620  4.00     2  불합격
NRS0397  조하은  여   560  3.04     3  불합격
NRS0398  박하윤  여   460  2.63     2  불합격
NRS0399  이지우  여   700  3.65     2  불합격
NRS0400  강하은  여   600  3.89     3  불합격

[400 rows x 6 columns]

In [7]:
df = origin.astype({'성별' : 'category', '병원경력' : 'category', 
                    '합격여부': 'category'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, NRS0001 to NRS0400
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      400 non-null    object
 1   성별      400 non-null    category
 2   필기점수    400 non-null    int64
 3   학부성적    400 non-null    float64
 4   병원경력    400 non-null    category
 5   합격여부    400 non-null    category
dtypes: category(3), float64(1), int64(1), object(1)
memory usage: 14.1+ KB

In [9]:
df1 = get_dummies(df,columns = ['성별'], dtype='int')
df1.head()

          이름  필기점수  학부성적 병원경력 합격여부  성별_남  성별_여
접수코드
NRS0001  장은우   380  3.61    3  불합격     1     0
NRS0002  최지호   660  3.67    3   합격     1     0
NRS0003  김하준   800  4.00    1   합격     1     0
NRS0004  임아윤   640  3.19    4   합격     0     1
NRS0005  강하준   520  2.93    4  불합격     1     0

In [11]:
df2 = get_dummies(df, columns=['성별'], dtype = 'int',
                  drop_first=True)
df.head()

          이름 성별  필기점수  학부성적 병원경력 합격여부
접수코드
NRS0001  장은우  남   380  3.61    3  불합격
NRS0002  최지호  남   660  3.67    3   합격
NRS0003  김하준  남   800  4.00    1   합격
NRS0004  임아윤  여   640  3.19    4   합격
NRS0005  강하준  남   520  2.93    4  불합격

In [13]:
df3 = get_dummies(df, columns=['성별', '병원경력'],dtype = 'int', 
                  drop_first=True )
df3.head()

          이름  필기점수  학부성적 합격여부  성별_여  병원경력_2  병원경력_3  병원경력_4
접수코드
NRS0001  장은우   380  3.61  불합격     0       0       1       0
NRS0002  최지호   660  3.67   합격     0       0       1       0
NRS0003  김하준   800  4.00   합격     0       0       0       0
NRS0004  임아윤   640  3.19   합격     1       0       0       1
NRS0005  강하준   520  2.93  불합격     0       0       0       1

In [15]:
#방법1) 행 수에 관계없이 1개의 열을 갖는 2차원 배열로 변환하는 경우
X = df['성별'].values.reshape(-1,1)
X

[['남'], ['남'], ['남'], ['여'], ['남'], ..., ['여'], ['여'], ['여'], ['여'], ['여']]
Length: 400
Categories (2, object): ['남', '여']

In [16]:
# 방법2) 데이터 프레임형태를 유지하면서 열을 추출하는 경우
#(filter 함수도 동일)
X = df[['성별']]
X.head()

        성별
접수코드
NRS0001  남
NRS0002  남
NRS0003  남
NRS0004  여
NRS0005  남

In [18]:
encoder = OneHotEncoder(sparse_output=False, drop=None)
result = encoder.fit_transform(X)
result

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [20]:
# 칼럼명 생성
new_cols = encoder.get_feature_names_out(['성별'])
new_cols

array(['성별_남', '성별_여'], dtype=object)

In [23]:
# DataFrame 병합
one_hot_df = DataFrame(result, columns=new_cols, index=df.index)
one_hot_df.head()

         성별_남  성별_여
접수코드
NRS0001   1.0   0.0
NRS0002   1.0   0.0
NRS0003   1.0   0.0
NRS0004   0.0   1.0
NRS0005   1.0   0.0

In [25]:
df_copy = df.copy()
df4 = merge(df_copy, one_hot_df, left_index=True, right_index=True)
df4.head()

          이름 성별  필기점수  학부성적 병원경력 합격여부  성별_남  성별_여
접수코드
NRS0001  장은우  남   380  3.61    3  불합격   1.0   0.0
NRS0002  최지호  남   660  3.67    3   합격   1.0   0.0
NRS0003  김하준  남   800  4.00    1   합격   1.0   0.0
NRS0004  임아윤  여   640  3.19    4   합격   0.0   1.0
NRS0005  강하준  남   520  2.93    4  불합격   1.0   0.0