In [2]:
from hossam import load_data
from sklearn.preprocessing import MinMaxScaler,MaxAbsScaler, StandardScaler, RobustScaler

In [4]:
origin = load_data('nursing_grades')
origin

[data] https://data.hossam.kr/data/lab05/nursing_grades.xlsx
[desc] 어느 간호학과 대학원에 지원한 학생들에 대한 합격/불합격 여부를 조사한 가상의 데이터(메타데이터 없음)
[!] Cannot read metadata

          이름 성별  필기점수  학부성적  병원경력 합격여부
접수코드
NRS0001  장은우  남   380  3.61     3  불합격
NRS0002  최지호  남   660  3.67     3   합격
NRS0003  김하준  남   800  4.00     1   합격
NRS0004  임아윤  여   640  3.19     4   합격
NRS0005  강하준  남   520  2.93     4  불합격
...      ... ..   ...   ...   ...  ...
NRS0396  박지유  여   620  4.00     2  불합격
NRS0397  조하은  여   560  3.04     3  불합격
NRS0398  박하윤  여   460  2.63     2  불합격
NRS0399  이지우  여   700  3.65     2  불합격
NRS0400  강하은  여   600  3.89     3  불합격

[400 rows x 6 columns]

In [6]:
minmax_df = origin.copy()

x = minmax_df['필기점수']
xmin = x.min()
xmax = x.max()

minmax_df['필기점수_MinMax(1)'] = (x-xmin) / (xmax - xmin)
minmax_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  필기점수_MinMax(1)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격        0.275862
NRS0002  최지호  남   660  3.67     3   합격        0.758621
NRS0003  김하준  남   800  4.00     1   합격        1.000000
NRS0004  임아윤  여   640  3.19     4   합격        0.724138
NRS0005  강하준  남   520  2.93     4  불합격        0.517241

In [7]:
x = minmax_df[['필기점수']]
x.head()

         필기점수
접수코드
NRS0001   380
NRS0002   660
NRS0003   800
NRS0004   640
NRS0005   520

In [9]:
scaler = MinMaxScaler()
minmax_df['필기점수_MinMax(2)'] = scaler.fit_transform(x)
minmax_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  필기점수_MinMax(1)  필기점수_MinMax(2)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격        0.275862        0.275862
NRS0002  최지호  남   660  3.67     3   합격        0.758621        0.758621
NRS0003  김하준  남   800  4.00     1   합격        1.000000        1.000000
NRS0004  임아윤  여   640  3.19     4   합격        0.724138        0.724138
NRS0005  강하준  남   520  2.93     4  불합격        0.517241        0.517241

In [11]:
abs_df = origin.copy()
x = abs_df['필기점수']
abs_df['필기점수_MaxAbs(1)'] = x/ x.abs().max()
abs_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  필기점수_MaxAbs(1)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격           0.475
NRS0002  최지호  남   660  3.67     3   합격           0.825
NRS0003  김하준  남   800  4.00     1   합격           1.000
NRS0004  임아윤  여   640  3.19     4   합격           0.800
NRS0005  강하준  남   520  2.93     4  불합격           0.650

In [13]:
scaler = MaxAbsScaler()
x = abs_df[['필기점수']]
abs_df['필기점수_MaxAbs(2)'] = scaler.fit_transform(x)
abs_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  필기점수_MaxAbs(1)  필기점수_MaxAbs(2)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격           0.475           0.475
NRS0002  최지호  남   660  3.67     3   합격           0.825           0.825
NRS0003  김하준  남   800  4.00     1   합격           1.000           1.000
NRS0004  임아윤  여   640  3.19     4   합격           0.800           0.800
NRS0005  강하준  남   520  2.93     4  불합격           0.650           0.650

In [15]:
std_df = origin.copy()
x = origin['학부성적']
std_df['학부성적_Standard(1)'] = (x-x.mean())/ x.std()
std_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  학부성적_Standard(1)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격          0.578348
NRS0002  최지호  남   660  3.67     3   합격          0.736008
NRS0003  김하준  남   800  4.00     1   합격          1.603135
NRS0004  임아윤  여   640  3.19     4   합격         -0.525269
NRS0005  강하준  남   520  2.93     4  불합격         -1.208461

In [17]:
scaler = StandardScaler()
x = std_df[['학부성적']]
std_df['학부성적_Standard(2)'] = scaler.fit_transform(x)
std_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  학부성적_Standard(1)  학부성적_Standard(2)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격          0.578348          0.579072
NRS0002  최지호  남   660  3.67     3   합격          0.736008          0.736929
NRS0003  김하준  남   800  4.00     1   합격          1.603135          1.605143
NRS0004  임아윤  여   640  3.19     4   합격         -0.525269         -0.525927
NRS0005  강하준  남   520  2.93     4  불합격         -1.208461         -1.209974

In [19]:
rb_df= origin.copy()

x=rb_df['병원경력']
m = x.median()
iqr = x.quantile(0.75) - x.quantile(0.25)

rb_df['병원경력_Robust(1)']=(x-m)/iqr
rb_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  병원경력_Robust(1)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격             1.0
NRS0002  최지호  남   660  3.67     3   합격             1.0
NRS0003  김하준  남   800  4.00     1   합격            -1.0
NRS0004  임아윤  여   640  3.19     4   합격             2.0
NRS0005  강하준  남   520  2.93     4  불합격             2.0

In [21]:
scaler = RobustScaler()
x= rb_df[['병원경력']]
rb_df['병원경력_Robust(2)']= scaler.fit_transform(x)
rb_df.head()

          이름 성별  필기점수  학부성적  병원경력 합격여부  병원경력_Robust(1)  병원경력_Robust(2)
접수코드
NRS0001  장은우  남   380  3.61     3  불합격             1.0             1.0
NRS0002  최지호  남   660  3.67     3   합격             1.0             1.0
NRS0003  김하준  남   800  4.00     1   합격            -1.0            -1.0
NRS0004  임아윤  여   640  3.19     4   합격             2.0             2.0
NRS0005  강하준  남   520  2.93     4  불합격             2.0             2.0