In [28]:
from hossam import load_data
from sklearn.preprocessing import MinMaxScaler,MaxAbsScaler, StandardScaler, RobustScaler
from pandas import DataFrame

In [29]:
origin= load_data('performance')
origin

[data] https://data.hossam.kr/data/lab05/performance.xlsx
[desc] 직원 성과 지표 데이터

field                 description
--------------------  -----------------
EmployeeID            직원 ID
MonthlySales          월별 매출
CustomerSatisfaction  고객 만족도
ProjectHours          프로젝트 작업시간
InnovationScore       혁신 점수

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001                 120                    75           160                8
E002                 250                    90           180                9
E003                  80                    60           150                6
E004                 180                    82           170                8
E005                 300                    95           190               10
E006                  90                    65           155                7
E007                 200                    88           175                9
E008                 110                    70           165                7
E009                 220                    85           185                9
E010                  70                    55           145                6
E011                 130                    78           162                8
E012                 280                    92           188               10
E013                  60                    50           140                5
E014                 190                    80           172                8
E015                 260                    91           183                9
E016                 100                    68           158                7
E017                 170                    83           168                8
E018                 320                    98           195               10
E019                  50                    45           135                5
E020                 240                    89           178                9

In [30]:
minmax_df = origin

x = minmax_df['MonthlySales']
xmin = x.min()
xmax = x.max()

minmax_df['MonthlySales'] = (x-xmin)/(xmax-xmin)
minmax_df.head()

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001            0.259259                    75           160                8
E002            0.740741                    90           180                9
E003            0.111111                    60           150                6
E004            0.481481                    82           170                8
E005            0.925926                    95           190               10

In [31]:
abs_df = origin
x =abs_df['CustomerSatisfaction'] = x/x.abs().max()
abs_df.head()

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001            0.259259               0.37500           160                8
E002            0.740741               0.78125           180                9
E003            0.111111               0.25000           150                6
E004            0.481481               0.56250           170                8
E005            0.925926               0.93750           190               10

In [32]:
std_df = origin
x = origin['ProjectHours'] 
std_df['ProjectHours'] = (x-x.mean())/x.std()
std_df.head()

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001            0.259259               0.37500     -0.450844                8
E002            0.740741               0.78125      0.720180                9
E003            0.111111               0.25000     -1.036356                6
E004            0.481481               0.56250      0.134668                8
E005            0.925926               0.93750      1.305691               10

In [33]:
std_df = origin
x = origin['InnovationScore'] 
std_df['InnovationScore'] = (x-x.mean())/x.std()
std_df.head()

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001            0.259259               0.37500     -0.450844         0.064409
E002            0.740741               0.78125      0.720180         0.708495
E003            0.111111               0.25000     -1.036356        -1.223764
E004            0.481481               0.56250      0.134668         0.064409
E005            0.925926               0.93750      1.305691         1.352581

In [34]:
df7 = origin.copy()
df7['합계'] = df7.iloc[:, 2:5].sum(axis=1)

df7

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,합계
EmployeeID,,,,,
E001,0.259259,0.37500,-0.450844,0.064409,-0.386436
E002,0.740741,0.78125,0.720180,0.708495,1.428675
E003,0.111111,0.25000,-1.036356,-1.223764,-2.260120
E004,0.481481,0.56250,0.134668,0.064409,0.199076
E005,0.925926,0.93750,1.305691,1.352581,2.658273
E006,0.148148,0.28125,-0.743600,-0.579678,-1.323278
E007,0.555556,0.62500,0.427424,0.708495,1.135919
E008,0.222222,0.34375,-0.158088,-0.579678,-0.737766
E009,0.629630,0.68750,1.012936,0.708495,1.721430
E010,0.074074,0.21875,-1.329112,-1.223764,-2.552876
E011,0.296296,0.40625,-0.333742,0.064409,-0.269333
E012,0.851852,0.87500,1.188589,1.352581,2.541170
E013,0.037037,0.18750,-1.621868,-1.867850,-3.489718
E014,0.518519,0.59375,0.251770,0.064409,0.316179
E015,0.777778,0.81250,0.895833,0.708495,1.604328
E016,0.185185,0.31250,-0.567947,-0.579678,-1.147624
E017,0.444444,0.53125,0.017565,0.064409,0.081974
E018,1.000000,1.00000,1.598447,1.352581,2.951029
E019,0.000000,0.15625,-1.914624,-1.867850,-3.782474
E020,0.703704,0.75000,0.603077,0.708495,1.311572

In [37]:
df8=df7['합계'].sort_values( ascending=False)
df8.index[0]

'E018'