In [19]:
from hossam import load_data
from pandas import pivot_table,melt

In [20]:
df=load_data("icecream_sales")
df

[data] https://data.hossam.kr/data/lab05/icecream_sales.xlsx
[desc] '달콤 스쿱' 아이스크림 가게의 매출 데이터 (인덱스 없음)

field     description
--------  -------------
Date      판매 날짜
Flavor    아이스크림 맛
Topping   추가된 토핑
Price     개당 가격
Quantity  판매 수량

         Date Flavor Topping  Price  Quantity
0  2023-07-01    초콜릿     아몬드   3500      20.0
1  2023-07-01    바닐라    초코시럽   3000      25.0
2  2023-07-01     딸기      연유   3200      18.0
3  2023-07-02   민트초코     초코칩   3800      15.0
4  2023-07-02    초콜릿     아몬드   3500      22.0
5  2023-07-02    바닐라     NaN   3000      30.0
6  2023-07-03     딸기      연유   3200      25.0
7  2023-07-03   민트초코     초코칩   3800       NaN
8  2023-07-03    바닐라    초코시럽   3000      28.0
9  2023-07-04    초콜릿     아몬드   3500      18.0
10 2023-07-04     딸기      연유   3200      22.0
11 2023-07-04   민트초코     초코칩   3800      17.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12 non-null     datetime64[ns]
 1   Flavor    12 non-null     object
 2   Topping   11 non-null     object
 3   Price     12 non-null     int64
 4   Quantity  11 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 612.0+ bytes

In [22]:
df.isna().sum()

Date        0
Flavor      0
Topping     1
Price       0
Quantity    1
dtype: int64

In [23]:
df2=df.dropna(subset=['Quantity'])
df2

         Date Flavor Topping  Price  Quantity
0  2023-07-01    초콜릿     아몬드   3500      20.0
1  2023-07-01    바닐라    초코시럽   3000      25.0
2  2023-07-01     딸기      연유   3200      18.0
3  2023-07-02   민트초코     초코칩   3800      15.0
4  2023-07-02    초콜릿     아몬드   3500      22.0
5  2023-07-02    바닐라     NaN   3000      30.0
6  2023-07-03     딸기      연유   3200      25.0
8  2023-07-03    바닐라    초코시럽   3000      28.0
9  2023-07-04    초콜릿     아몬드   3500      18.0
10 2023-07-04     딸기      연유   3200      22.0
11 2023-07-04   민트초코     초코칩   3800      17.0

In [24]:
df3 = pivot_table(df2, index = 'Date', columns='Flavor', values= 'Quantity')
df3

Flavor        딸기  민트초코   바닐라   초콜릿
Date
2023-07-01  18.0   NaN  25.0  20.0
2023-07-02   NaN  15.0  30.0  22.0
2023-07-03  25.0   NaN  28.0   NaN
2023-07-04  22.0  17.0   NaN  18.0

In [25]:
df4 = df3.reset_index()
df4

Flavor       Date    딸기  민트초코   바닐라   초콜릿
0      2023-07-01  18.0   NaN  25.0  20.0
1      2023-07-02   NaN  15.0  30.0  22.0
2      2023-07-03  25.0   NaN  28.0   NaN
3      2023-07-04  22.0  17.0   NaN  18.0

In [26]:
melt(df4, id_vars=['Date'], value_vars=['딸기','민트초코', '바닐라','초콜릿'],
     var_name = 'Flavor', value_name='Quantity')

         Date Flavor  Quantity
0  2023-07-01     딸기      18.0
1  2023-07-02     딸기       NaN
2  2023-07-03     딸기      25.0
3  2023-07-04     딸기      22.0
4  2023-07-01   민트초코       NaN
5  2023-07-02   민트초코      15.0
6  2023-07-03   민트초코       NaN
7  2023-07-04   민트초코      17.0
8  2023-07-01    바닐라      25.0
9  2023-07-02    바닐라      30.0
10 2023-07-03    바닐라      28.0
11 2023-07-04    바닐라       NaN
12 2023-07-01    초콜릿      20.0
13 2023-07-02    초콜릿      22.0
14 2023-07-03    초콜릿       NaN
15 2023-07-04    초콜릿      18.0