In [1]:
from hossam import load_data
from pandas import pivot_table,melt

In [2]:
df = load_data("students_smoke")
df

[data] https://data.hossam.kr/data/lab05/students_smoke.xlsx
[desc] 한 도시의 20개 중,고교를 대상으로 조사한 흡연율 자료 (인덱스와 메타데이터 없음)
[!] Cannot read metadata

    지역  구성   흡연율
0   도시   남  0.64
1   도시   여  0.45
2   농촌  공학  0.70
3   도시   남  0.85
4   농촌   남  0.72
5   도시   남  0.78
6   도시   여  0.62
7   도시   남  0.79
8   농촌   남  0.75
9   농촌  공학  0.81
10  농촌   여  0.56
11  도시   여  0.48
12  농촌   남  0.72
13  도시  공학  0.68
14  농촌   남  0.79
15  도시   남  0.90
16  농촌   여  0.34
17  도시   여  0.48
18  농촌   여  0.49
19  농촌  공학  0.76

In [3]:
pivot_table(df, index='지역', columns = '구성', values='흡연율', aggfunc='mean')

구성        공학      남         여
지역
농촌  0.756667  0.745  0.463333
도시  0.680000  0.792  0.507500