In [ ]:
#정수형 변수의 데이터 타입 확인
#age = 20
typeOfAge = type(age)
print(typeOfAge)

<class 'int'>

In [ ]:
# 실수형 변수의 데이터 타입 확인
pi = 3.14
typeOfPi = type(pi)
print(typeOfPi)

<class 'float'>

In [6]:
# 문자열 변수의 데이터 타입 확인
message = "Hello Python"
typeOfMessage = type(message)
print(typeOfMessage)

<class 'str'>

In [9]:
# 논리형 변수의 데이터 타입 확인
ok = True
typeOfOk = type(ok)
print(typeOfOk)

<class 'bool'>

In [11]:
# 출력하고자 하는 모든 형태의 값을 파라미터로 전달한다.
# -> 문자열 이외의 다른 데이터 타입의 변수도 사용 가능함
a = 100
b = 3.14
c = True
print("Life", "is" "short", a,b,c)

Life isshort 100 3.14 True

In [14]:
# 문자열 입력받기
msg1 = input("메세지를 입력하세요")
print(msg1)
#입력 받은 내용의 데이터 타입 확인 --> 문자열(str)
t = type(msg1)
print(t)

123
<class 'str'>

In [ ]:
#입력받은 값을 정수 타입으로 변환 
msg2 = input("정수를 입력하세요")
num = int(msg2)
print(num)
 #변환 결과의 데이터 타입 확인 --> 정수(int)
num_type = type(num)
print(num_type)

234
<class 'int'>

In [4]:
# 입력받은 값을 실수 타입으로 변환
msg3 = input("실수를 입력하세요")
fnum = float(msg3)
print(fnum)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
fnum_type = type(fnum)
print(fnum_type)

123.45
<class 'float'>

In [2]:
# 정수를 실수로 변환 --> 정수 뒤에 ".0"이 추가됨
num1 = 100
num2 = float(num1)
print(num2)

#변환 결과의 데이터 타입 확인 --> 실수(float)
t1 = type(num2)
print(t1)

100.0
<class 'float'>

In [8]:
#  실수를 정수로 변환 --> 소수점 버림
num3 = 123.78
num4 = int(num3)
print(num4)

# 변환 결과의 데이터 타입 확인--> 정수(int)
t2 = type(num4)
print(t2)

123
<class 'int'>

In [14]:
num1 =100
s1 = str(num1)
print(type(num1), type(s1))

<class 'int'> <class 'str'>

In [16]:
num2 = 3.14
s2 = str(num2)
print(type(num2),type(s2))

<class 'float'> <class 'str'>

In [18]:
# 제곱근 구하기 -> '2**8' 연산과 동일한 결과.
a = pow(2,8)
print(a)

256

In [20]:
# 절대값 구하기
a = abs(100)
print(a)

b = abs(-100)
print(b)

c= abs(-12.345)
print(c)

100
100
12.345

In [22]:
# 소수점 반올림 후 정수만 출력
n = round(123.78)
print(n)

124

In [24]:
# 소수점 첫째 자리까지만 남기고 반올림
n2 = round(123.76,1)
print(n2)

123.8

In [31]:
def say_hello():
    print("Hello Pythom")
    print("안녕 파이썬")
say_hello()
say_hello()

Hello Pythom
안녕 파이썬
Hello Pythom
안녕 파이썬

In [37]:
def f(x):
    y = x+1
    print(y)

In [40]:
f(2)

3

In [42]:
f(3)

4

In [44]:
def foo(count):
    x = count * 10
    print(x)

In [46]:
foo(2)

20

In [48]:
foo()

TypeError: foo() missing 1 required positional argument: 'count'

In [50]:
def f(x):
    y = x+1
    print(y)

In [52]:
f(2)

3

In [54]:
f(3)

4

In [56]:
def hello(x,y):
    z=x+y
    print(z)

In [58]:
hello(2,1)

3

In [60]:
hello(5,3)

8

In [62]:
def sum1(x,y,z=0):
    answer = x+y+z
    print(answer)

In [64]:
# 모든 파라미터값을 전달하며 함수 호출
sum1(1,2,3)

6

In [66]:
#초기값이 설정된 파라미터는 호출시에 생략 가능함. -> 생략된 파라미터는 초기앖으로 설정된다.
sum1(10,20)

30

In [68]:
def sum2(a,b,c=0,d=0):
    answer = a+b+c+d
    print(answer)

In [69]:
# 파라미터의 이름을 지정한 함수 호출 -> 파라미터 전달 순서를 무시할 수 잇다.
sum2(d=3, c=4,b=2,a=1)

10

In [71]:
# 함수에 정의된 기본값 활용
sum2(1, b=2)

3

In [ ]:
def plus(x,y):
    z = x+y
    return z #자신이 호출뒨 위치로 값을 되돌려준다.

In [ ]:
a = plus(10,20)
print(a)#리턴값을 다른 변수에 할당하기

30

In [78]:
print( plus(100,200))# 리턴값을 갖는 함수는 그 결과를 직접 출력할 수 있다.

300

In [81]:
b = plus(5,7)+100
print (b)

112

In [83]:
print("시험시작")
score = int(input("점수를 입력하세요"))
if score>=60:
    print("합격입니다.")

    print("시험 끝")

시험시작

In [95]:
money =10000
#money = 0
if money:
    print("택시를 타고")

    print("집에가자")

택시를 타고
집에가자

In [97]:
name = "Python"
#name ="
if name:
    print(name)

    print("프로그래밍")

Python
프로그래밍

In [101]:
myage = int(input('나이를 입력하세요'))

if myage ==19:
    print("19살 입니다.")
if myage !=20:
    print("20살이 아닙니다.")
if myage >19:
    print("성인입니다.")
if myage<=19:
    print("청소년입니다.")

20살이 아닙니다.
성인입니다.

In [105]:
point = int(input("점수를 입력하세요"))

#AND --> 전체가 참이어야 결과가 참
if point>70 and point <80:
    print("c학점 입니다.")

#OR -->하나라도 참이면 전체가 참 
if point <=70 or point>80:
    print("c학점이 아닙니다.")

c학점 입니다.

In [114]:
#isKorean = True
isKorean = False

if isKorean == True:
    print("한국사람입니다..(1)")

if isKorean ==False:
    print("한국사람이 아닙니다..(2)")

if isKorean != True:
    print("한국사람이 아닙니다..(3)")

if isKorean !=False:
    print("한국사람입니다..(4)")

if isKorean:
    print("한국사람입니다..(5)")

if not isKorean:
    print("한국사람이 아닙니다..(6)")

한국사람이 아닙니다..(2)
한국사람이 아닙니다..(3)
한국사람이 아닙니다..(6)

In [117]:
print("시험시작")

score = int(input("점수를 입력하세요"))

if score >=60:
    print("합격입니다.")
else:
    print("불합격입니다.")

print("시험 끝")

시험시작
불합격입니다.
시험 끝

In [4]:
answer = input("한국인입니까? (Y/N)") #입력예시:Y

if answer =="Y":
    isKorean = True
else:
    isKorean = False

#논리값을 조건으로 사용할 경우 "만약 이 변수가 참이라면?의 의미"
if isKorean:
    print("한국사람 입니다..(1)")
else:
    print("한국사람이 아닙니다..(2)")



# 논리값의 부정형을 조건으로 사용할 경우 "만약 이 변수가 거짓이라면?"의 의미
if not isKorean:
    print("한국사람이 아닙니다..(3)")
else:
    print("한국사람 입니다..(4)")

한국사람 입니다..(1)
한국사람 입니다..(4)

In [12]:
print("시험시작")

point = int(input("점수를 입력하세요"))

if point > 90:
    print("A학점")
elif point>80:
    print("B학점")
elif point>70:
    print("C학점")
elif point>60:
    print("D학점")
else:
    print("F학점")

print("시험 끝")

시험시작
F학점
시험 끝

In [14]:
x = 1 #초기식
while x <=10: #조건식 -> x가 10보다 작거나 같은 동안 반복수행
    print("x =",x)
    x+=1#증감식 -> 조건에 사용되는 값을 변경

print("x의 최종값 =",x)

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = 10
x의 최종값 = 11

In [16]:
x = int(input("숫자를 입력하세요."))

#구구단 출력하기
y = 1 #초기식
while y<10: #조건식 -> 10보다 작다이므로 10은 포함되지 않음.
    z=x*y #반복이 진행되는 동안 수행할 명령
    print(x, "x", y,"=",z)
    y +=1 #증감식 -> y가 1씩 증가함

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [18]:
# 1~10까지의 총 합을 구하기
x=1 #초기식
sum = 0 #총 합을 누적해서 저장할 변수
while x <=10: #조건식 -> x가 10보다 작거나 같은 동안 반복수행
    sum +=x
    print("x=", x, "->sum=",sum)
    x+=1 #증감식 -> 조건에 사용되는 값을 변경

x= 1 ->sum= 1
x= 2 ->sum= 3
x= 3 ->sum= 6
x= 4 ->sum= 10
x= 5 ->sum= 15
x= 6 ->sum= 21
x= 7 ->sum= 28
x= 8 ->sum= 36
x= 9 ->sum= 45
x= 10 ->sum= 55

In [20]:
# 0부터 50전(=49)까지 10씩 증가
a=0
while a<50:
    print(a)
    a+=10

0
10
20
30
40

In [22]:
# 10부터 0전(=1)까지 2씩 감소
b = 10
while b>0:
    print(b)
    b-=2

10
8
6
4
2

In [24]:
# x가 1부터 11전까지 1씩 증가하면서 반복수행
for x in range(1,11):
    #반복이 진행되는 동안 수행할 명령
    print("x=",x)

print("x의 최종값=",x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값= 10

In [26]:
x = int(input("숫자를 입력하세요."))

# -> 1부터 10전까지 1씩 증가하는 값을 y에 설정
for y in range(1,10):
    #반복이 진행되는 동안 수행할 명령
    z=x*y
    print(x,"x",y,"=",z)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [31]:
# 1~10까지의 총 합을 구하기
sum = 0  #총 합을 누적해서 저장할 변수

for x in range(1,11): #x가 1부터 11전까지 1씩 증가하면서 반복수행
#sum이 x만큼 스스로 증가
#-> x가 1~10까지 변화하므로 sum은 1부터 10까지 순차적으로 증가
    sum += x
    print("x =",x,"->sum=",sum)

x = 1 ->sum= 1
x = 2 ->sum= 3
x = 3 ->sum= 6
x = 4 ->sum= 10
x = 5 ->sum= 15
x = 6 ->sum= 21
x = 7 ->sum= 28
x = 8 ->sum= 36
x = 9 ->sum= 45
x = 10 ->sum= 55

In [33]:
#0부터 50전까지 10씩 증가
for a in range(0,50,10):
    print(a)

0
10
20
30
40

In [35]:
#10부터 0전까지 2씩 감소
for b in range(10,0,-2):
    print(b)

10
8
6
4
2