In [2]:
number = int(input("숫자를 입력하세요:")) # 입력에시:10

# 총 합을 구하기 위해서는 반복문 전에 0으로 초기화 된 변수가 필요하다.
x=0
y=0

for i in range(1, number+1): # 1~number까지 반복 수행
    if i%2==0:
        print(i, "-->짝수")
        x+=i
    else: 
        print(i,"-->홀수")
        y+=i

print("짝수들의 합:",x)
print("홀수들의 합:",y)

1 -->홀수
2 -->짝수
3 -->홀수
4 -->짝수
5 -->홀수
6 -->짝수
7 -->홀수
8 -->짝수
9 -->홀수
10 -->짝수
11 -->홀수
12 -->짝수
13 -->홀수
14 -->짝수
15 -->홀수
16 -->짝수
17 -->홀수
18 -->짝수
19 -->홀수
20 -->짝수
21 -->홀수
22 -->짝수
23 -->홀수
24 -->짝수
25 -->홀수
26 -->짝수
27 -->홀수
28 -->짝수
29 -->홀수
30 -->짝수
31 -->홀수
32 -->짝수
33 -->홀수
짝수들의 합: 272
홀수들의 합: 289

In [8]:
for i in range(0,5):
    print(i)
    # 조건값이 마지막이 아닌 경우만 실행하도록 if문을 구성
    if i+1<5:
        print("-----")

0
-----
1
-----
2
-----
3
-----
4

In [10]:
x=3
y=5

for i in range(1,101):
    if i%x==0 and i%y ==0:
        print(i)

15
30
45
60
75
90

In [12]:
for i in range(0,3):
    print("i에 대한 반복 수행 시작 :i-->", i)

    for j in range(0,5):
        print("::: i=",i,", j=",j)

    print("i에 대한 반복 수행종료")
    
    if i+1<3:
        print("-------------------------")

i에 대한 반복 수행 시작 :i--> 0
::: i= 0 , j= 0
::: i= 0 , j= 1
::: i= 0 , j= 2
::: i= 0 , j= 3
::: i= 0 , j= 4
i에 대한 반복 수행종료
-------------------------
i에 대한 반복 수행 시작 :i--> 1
::: i= 1 , j= 0
::: i= 1 , j= 1
::: i= 1 , j= 2
::: i= 1 , j= 3
::: i= 1 , j= 4
i에 대한 반복 수행종료
-------------------------
i에 대한 반복 수행 시작 :i--> 2
::: i= 2 , j= 0
::: i= 2 , j= 1
::: i= 2 , j= 2
::: i= 2 , j= 3
::: i= 2 , j= 4
i에 대한 반복 수행종료

In [113]:
# i의 변화범위 2~9
for i in range(2,10):

    # i가 1증가하는 동안 j의 값이 매번 1~9까지 새로 시작
    for j in range(1,10):
        k=i*j
        print(i,"x",j,"=",k)

if i+1<10:
    print("--------")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [38]:
#5명의 학생에 대한 성적 나열-->정수형의 원소만 갖는 리스트
grade = [98,82,73,64,100]
print(grade)

[98, 82, 73, 64, 100]

In [40]:
# 각 학생의 이름에 대한 나열-->문자열 타입의 원소만 갖는 리스트
names = ["철수","영희","나영","민식","호영"]
print(names)

['철수', '영희', '나영', '민식', '호영']

In [42]:
# 서로 다른 자료형들을 함께 사용가능
student =["철수",17,162,4,68.5,"남자",True]
print(student)

['철수', 17, 162, 4, 68.5, '남자', True]

In [45]:
# 인덱스 번호를 통해 각 원소에 접근할 수 있다.
items= [10,20,30]
print(items[0])
print(items[1])
print(items[2])

10
20
30

In [49]:
# 값의 변경
mydata=[100,200,300]
print(mydata)

mydata[0]=0
mydata[1]=mydata[1]-150
mydata[2]//=3
print(mydata)

[100, 200, 300]
[0, 50, 100]

In [52]:
# 실습에 대한 리스트 정의
list1= [10,20,30]
list2=[40,50,60]
print(list1)
print(list2)

[10, 20, 30]
[40, 50, 60]

In [54]:
# 리스트끼리의 덧셈은 단순 병합
list3= list1+list2
print(list3)

[10, 20, 30, 40, 50, 60]

In [56]:
# 리스트와 정수의 곱셈은 동일 내용을 반복한다.
list4=list1*5
print(list4)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [59]:
# 각 학생별 이름,점수 정의
stud1=["철수",98]
stud2=["영희",82]
stud3=["나영",73]
#(2차원 리스트정의)****
# 리스트를 원소로 갖는 새로운 리스트 정의
studentGroup=[stud1,stud2,stud3]
print(studentGroup)

[['철수', 98], ['영희', 82], ['나영', 73]]

In [62]:
# 2차원 리스트의 일괄 생성
#->바깥의 리스트에 속한 원소들은 행을 구성하고, 안쪽의 리스트에 속한 원소들은 열을 구성한다.
studentGroup2=[
    ["민식",64,172.3],
    ["호영",100,175.8],
    ["철민",89,168.7]

]
print(studentGroup2)

[['민식', 64, 172.3], ['호영', 100, 175.8], ['철민', 89, 168.7]]

In [69]:
# 실습을 위한 리스트 정의(앞 코드와 동인)
학생=[["민식",64,172.3],["호영",100,175.8],["철민",89,168.7]]

print("이름: ",학생[0][0],"몸무게: ",학생[0][1], "키: ",학생[0][2])
print("이름: ",학생[1][0],"몸무게: ",학생[1][1],"키: ",학생[1][2])
print("이름: ",학생[2][0],"몸무게: ",학생[2][1],"키: ",학생[2][2])

이름:  민식 몸무게:  64 키:  172.3
이름:  호영 몸무게:  100 키:  175.8
이름:  철민 몸무게:  89 키:  168.7

In [71]:
mylist = [10,20,30] #실습을 위한 샘플 데이터
print(mylist[1]) #1번째 원소에 접근->0부터 카운트
print(mylist[-1])#-1번째 원소에 접근 ->-1부터 카운트

20
30

In [73]:
first = mylist[0]
print(first)

10

In [75]:
mylist[1]=200 #1번째 원소의 값을 다른 값으로 변경
print(mylist)

[10, 200, 30]

In [77]:
 # 실습을 위한 샘플 데이터
mylist =[60,70,80,90,100]#리스트의 1번째부터 3번째 전까지->3번째 원소 불포함

print(mylist[1:3])

[70, 80]

In [79]:
print(mylist[1:-2]) # 리스트에서 1번째부터 뒤에서부터2번째다음까지

[70, 80]

In [81]:
print(mylist[3:]) #3번째 부터 끝까지->3번째 원소 포함됨

[90, 100]

In [ ]:
print(mylist[:3])#처음부터 3번째 전까지->3번째 원소 포함안됨

[60, 70, 80]

In [86]:
print(mylist[:])#리스트의 모든원소

[60, 70, 80, 90, 100]

In [88]:
foo=[1,2,3,4,5]

#리스트의 1번째부터 4번째 전까지 3개의 원소를 다른 값으로 일괄 교체
foo[1:4]=[20,30,40]
print(foo)

[1, 20, 30, 40, 5]

In [90]:
bar = [11,22,33,44,55]

#3개의 원소 범위에 빈 리스트 대입 -->삭제

bar[1:4]=[]
print(bar)

[11, 55]

In [92]:
hello = [6,7,8,9,10]

# 3개의 원소 범위에 7개의 원소를 갖는 리스트 대입-->확장
hello[1:4]=[100,200,300,400,500,600,700]
print(hello)

[6, 100, 200, 300, 400, 500, 600, 700, 10]

In [94]:
world = [11,12,13,14,15]

#3개의 원소 범위에 2개의 원소를 갖는 리스트 대입 -->축소
world[1:4]=[1000,2000]
print(world)

[11, 1000, 2000, 15]

In [96]:
# 숫자형, 문자열, 논리값을 대입할 경우 변수값의 복사
a=100
b=a
print(a)
print(b)

100
100

In [99]:
# 복사본을 변경하더라도 원본에는 변화가 없다.(반대의 경우도 마찬가지)
b=200
print(a)
print(b)

100
200

In [101]:
# 객체의 참조--> 리스트,딕셔너리 등
foo = [1,2,3]
bar=foo
print(foo)
print(bar)

[1, 2, 3]
[1, 2, 3]

In [103]:
#->참조된 복사본을 변경하면 원본도 함께 변경됨.(반대의 경우도 마찬가지)
bar[1]=20
print(foo)
print(bar)

[1, 20, 3]
[1, 20, 3]

In [105]:
#리스트 복사(고전적인 방법)
#->같은 길이의 리스트를 만들고 각 원소를 일일이 복사함
bar=[1,2,3]
cp1=[0,0,0]
cp1[0]=bar[0]
cp1[1]=bar[1]
cp1[2]=bar[2]

#->복사본을 변경하더라도 원본에 변화 없음.
cp1[2]=1000
print(bar)
print(cp1)

[1, 2, 3]
[1, 2, 1000]

In [107]:
#슬라이싱을 활용한 방법
hello = [100,200,300]
cp2 = hello[:]

#->복사본을 변경하더라도 원본에 영향이 없다.
cp2[1]=12345
print(hello)
print(cp2)

[100, 200, 300]
[100, 12345, 300]

In [ ]:
# 리스트 객체의 함수를 사용하는 방법
world=["hello","python","world"]
cp3=world.copy()

#->복사본을 변경하더라도 원본에 영향이 없다.
cp3[0]="nice"