In [3]:
# 원소의 수를 조회한 다음 직접 반복범위 지정하기
# -> 단점: 각 원소가 지정되는 변수가 없기 때문에
#             원소에 대한 접근을 리스트를 통해 직접 수행해야 한다.
seasons = ['봄', '여름','가을','겨울']
           
size = len(seasons)
for i in range(0,size):
    print(i,"번째 원소:",seasons[i])

0 번째 원소: 봄
1 번째 원소: 여름
2 번째 원소: 가을
3 번째 원소: 겨울

In [5]:
msg = ['python','is','good']

#->리스트의 각 원소를 순차적으로 i에 대입하면서 반복
#->단점: 몇 번째 원소인지는 알 수 없다.
for i in msg:
    print(i)

python
is
good

In [17]:
# 성적에 대한 총점과 평균 구하기
score = [100,82,98,76,51]

#-> 총점을 저장할 변수
total = 0

for v in score:
    #총점은 각 원소를 누적해서 더한다.
    total += v

#평균은 총 합에서 원소의 수를 나눈다.
#->"//"는 나눗셈에서 정수부분의 몫만 구한다.
avg= total //len(score)

print("총점:",total, ", 평균:",avg)

총점: 407 , 평균: 81

In [26]:
for i,v in enumerate(city):
    
    print(i,"번째원소:",v)

0 번째원소: 서울
1 번째원소: 인천
2 번째원소: 대구
3 번째원소: 대전
4 번째원소: 광주
5 번째원소: 부산

In [28]:
mydata = [[88,72,83,90],[63,77,72,80]]#예제를 위한 데이터 구성

size= len(mydata) #2차원 리스트의 길이는 행의 수를 반환한다.
print("size =",size)

for i in range(0,size): #행의 수 만큼 반복하는 구성
    #i번째 행에 포함되어 있는 개별 리스트를 출력한다.
    print(i,"번째 데이터-> ",mydata[i])

size = 2
0 번째 데이터->  [88, 72, 83, 90]
1 번째 데이터->  [63, 77, 72, 80]

In [32]:
mydata = [[88,72,83,90],[63,77,72,80]]#에제를 위한 데이터 구성

size = len(mydata)        #2차원 리스트의 길이는 행의 수를 반환한다
print("size=",size)

for i in range(0,size): #행의 수 만큼 반복하는 구성
    #i 번째 행에 포함되어 잇는 개별리스트를 출력
    print(i,"번째 데이터->",mydata[i])

    total = 0
    size = len(mydata[i])

    for j in range(0,size):
        total +=mydata[i][j]

    average = total/size 

    print(i,"번째 데이터 ==>총합=",total,"평균=",average)

size= 2
0 번째 데이터-> [88, 72, 83, 90]
0 번째 데이터 ==>총합= 333 평균= 83.25
1 번째 데이터-> [63, 77, 72, 80]
1 번째 데이터 ==>총합= 292 평균= 73.0

In [33]:
mydata = [[88,72,83,90],[63,77,72,80]]

for row in mydata:

    print("이번에 출력되는 데이터->",row)

이번에 출력되는 데이터-> [88, 72, 83, 90]
이번에 출력되는 데이터-> [63, 77, 72, 80]

In [37]:
mydata=[[88,72,83,90],[63,77,72,80]]

for row in mydata:

    print("이번에 출력되는 데이터 ->",row)

    total = 0

    for col in row:
        total +=col

    average = total/len(row)

    print(row,"에 대한 총합=",total,",평균=",average)

이번에 출력되는 데이터 -> [88, 72, 83, 90]
[88, 72, 83, 90] 에 대한 총합= 333 ,평균= 83.25
이번에 출력되는 데이터 -> [63, 77, 72, 80]
[63, 77, 72, 80] 에 대한 총합= 292 ,평균= 73.0

In [39]:
mylist=[1,2,3]
print(len(mylist))

3

In [42]:
mylist=[1,2,3]
del(mylist[1])
print(mylist)

[1, 3]

In [44]:
mylist = [4,2,5,3,1]
print(mylist)

[4, 2, 5, 3, 1]

In [48]:
asc = sorted(mylist) #원소의 순차 정렬
print(asc)

[1, 2, 3, 4, 5]

In [50]:
desc = sorted(mylist, reverse=True)#원소의 역순 정렬
print(desc)

[5, 4, 3, 2, 1]

In [53]:
print(mylist) #원본 출력 확인

[4, 2, 5, 3, 1]

In [55]:
#리스트 튜플중에서
#최대값, 최소값, 합께 수하기-> 문자열은 계산불가.
a = [1,2,3]
print(max(a))
print(min(a))
print(sum(a))

3
1
6

In [57]:
#평균을 구하는 기능은 없기 때문에 직접 게산해야 함
avg = sum(a)/len(a)
print(avg)

2.0

In [59]:
#주어진 값과 일치하는 원소의 개수 세기
mylist = [1,2,3,2,4,2]
c = mylist. count(2)
print(c)

3

In [61]:
mylist = [1,2,3,10,1,2,3,10]
x=mylist.index(10)
print(x)

3

In [63]:
# 맨 뒤에 내용 추가 --> 원본에 직접 반영
mylist = [1,2,3]
mylist.append(4)
print(mylist)

[1, 2, 3, 4]

In [65]:
# 리스트를 append 할 경우 2차 리스트로 삽입.
mylist = [1,2,3]
mylist.append([5,6])
print(mylist)

[1, 2, 3, [5, 6]]

In [67]:
#중간 삽입
# -> 1번째 위치에 10을 삽입. 기존의 항목들은 뒤로 밀려난다.
mylist = [1,2,3]
mylist.insert(1,10)
print(mylist)

[1, 10, 2, 3]

In [69]:
#맨 앞에 삽입
#->0번째 위치에 10을 삽입. 기존의 항목들은 뒤로 밀림
mylist=[1,2,3]
mylist.insert(0,10)
print(mylist)

[10, 1, 2, 3]

In [71]:
# append와 같은 효과
mylist = [1,2,3]
lastIndex = len(mylist)
mylist.insert(lastIndex,10)
print(mylist)

[1, 2, 3, 10]

In [73]:
# 맨 마지막 요소를 꺼내서 리턴하고 원본에서는 삭제
mylist=[1,2,3]
k=mylist.pop()
print(k)
print(mylist)

3
[1, 2]

In [76]:
mylist = [1,2,3]
addon =[10,9,8,7]
mylist.extend(addon)
print(mylist)

[1, 2, 3, 10, 9, 8, 7]

In [79]:
#주어진 값과 일치하는 첫 번째 원소를 삭제
mylist = [1,2,3,10,1,2,3,10]
mylist.remove(10)
print(mylist)

[1, 2, 3, 1, 2, 3, 10]

In [81]:
mylist=[1,7,5,3,9]
mylist.reverse()
print(mylist)

[9, 3, 5, 7, 1]

In [83]:
#순차정렬(오름차순)-->객체 원본에 반영된다.
mylist = [2,5,1,4,3]
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5]

In [85]:
# 역순 정렬(내림차순)-->객체 원본에 반영된다.
mylist = [2,5,1,4,3]
mylist.sort(reverse=True)
print(mylist)

[5, 4, 3, 2, 1]

In [87]:
#문자열을 주어진 글자를 기준으로 잘라서 리스트로 변환
#->문자열 객체에 포함된 함수 사용
text = "Hello,Python,World,Good"
mylist = text.split(",")
print (mylist)

['Hello', 'Python', 'World', 'Good']

In [89]:
#문자열("$")이 파라미터로 전달된 리스트의 각 원소를 연결하는 기호로 사용됨
dl = "$"
mylist =['Hello','Python', 'World','Good']
text = dl.join(mylist)
print(text)

Hello$Python$World$Good

In [91]:
#별다른 기호 없이 리스트를 하나의 문자열로 연결하기
empty = ""
mylist = ['Hello','Python','World','Good']
text = empty.join(mylist)
print(text)

HelloPythonWorldGood

In [96]:
#리스트의 각 원소를 공백으로 구분한 문자열로 연결하기
space =" "
mylist = ["Hello","Python",'World','Good']
text = space.join(mylist)
print(text)

Hello Python World Good

In [98]:
#쌍따옴표나 홑따옴표로 감싸야 한다. ->따옴표의 혼용은 불가.
msg1 = "Life is too short"
msg2='You need Python'
print(msg1)
print(msg2)

Life is too short
You need Python

In [100]:
mymsg = "Hello"

#문자열을 반복문으로 탐색하면 문자 하나씩 출력된다.
for m in mymsg:
    print(m)

H
e
l
l
o

In [103]:
# 문자열의 덧셈은 문자열을 연결하는 기능
msg1="Hello"
msg2="Python"
print(msg1+", "+msg2)

Hello, Python

In [105]:
# 따옴표로 감싸면 무조건 문장.
#-> 숫자가 아니므로 연산 결과도 문자열 연산규칙을 따른다.
pay = "20000"
bonus = "100"
print(pay +bonus)

20000100

In [107]:
# 문자열과 숫자의 곱셈은 동일 내용을 여러번 반복한다.
name = "Python"
print(name*5)

PythonPythonPythonPythonPython

In [110]:
#쌍따옴표 안에 쌍따옴표 넣기 ->이스케이프 문자 사용
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [112]:
# 홑따옴표 안에 홑따옴표 넣기 -> 이스케이프 문자 사용
case2 = 'Life is \' too\' short'
print(case2)

Life is ' too' short

In [116]:
# 줄바꿈 =>\n
print("Life is too short\nYou need Python")

Life is too short
You need Python

In [118]:
# 탭키 =>\t
print("Life is too short\tYou need Python")

Life is too short	You need Python

In [120]:
# 순수한 역슬래시 출력 =>\\
print("Life is too short\\You need Python")

Life is too short\You need Python

In [122]:
str1 = "You 'need' Python"
print(str1)

You 'need' Python

In [124]:
str2='You "need" Python'
print(str2)

You "need" Python

In [126]:
# "%"연산자 뒤의 값이 "%d를 치환한다."
str1 = "나는 %d원을 갖고 잇다." %10000
print(str1)

나는 10000원을 갖고 잇다.

In [128]:
#실수값 표현하기
money = 123.456789
print("[%f]원 입니다." %money)

[123.456789]원 입니다.

In [130]:
lang = "Python"
str2 = "Hello %s" % lang
print(str2)

Hello Python

In [134]:
str3 = "%s 날짜는 %d년 %d월 %d일 입니다."

msg1 = str3 %("정모",2023,1,1)
print(msg1)

msg2 = str3 %("약속",2023,3,5)
print(msg2)

정모 날짜는 2023년 1월 1일 입니다.
약속 날짜는 2023년 3월 5일 입니다.

In [136]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 공백으로 지정
print("[%10d]원을 입금했습니다."% 120000)

[    120000]원을 입금했습니다.

In [139]:
#자리수 지정하기-> 오른쪽 정렬, 빈자리는 0으로 지정
print("[%010d]원을 입금했습니다."%120000)

[0000120000]원을 입금했습니다.

In [141]:
# 문자열의 자리수 지정하기 -> 빈자리는 공백지정만 가능
print("[%10s]에 살고 있습니다." % "대한민국")

[      대한민국]에 살고 있습니다.

In [142]:
myMoney = 12345.6789

In [144]:
# 소수점 3자리까지 표현하기 -> 소수점 4째자리에서 반올림.
print("[%0.3f]원 입니다." % myMoney)

[12345.679]원 입니다.

In [146]:
# 소수점 3자리까지 표현하되 전체 글자수는 10글자
#소수점이 자리수에 포함됨
#->오른쪽 정렬
print("[%10.3f]원 입니다." % myMoney)

[ 12345.679]원 입니다.

In [148]:
# 소수점 3자리까지 표현하되 전체 글자수는 10글자
# 빈자리를 0으로 채우는 경우는 오른쪽 정렬만 가능함.
print("[%010.3f]원 입니다."% myMoney)

[012345.679]원 입니다.

In [150]:
# 0번째  위치에 format()함수에 전달된 0번째 값을 대입
msg1 = "I eat {0} apples"
print( msg1.format(3))

I eat 3 apples

In [160]:
# 여러 개의 값을 혼용하기
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print( msg2.format("개강일", 2023,1,26))

개강일은 2023년 1월 26일 입니다.

In [162]:
fmt = "이 과자는 {price}{unit}입니다."
rst = fmt.format(unit="원", price=2000)
print(rst)

이 과자는 2000원입니다.

In [155]:
# 이름으로 넣기 --> format()메서드에 전달되는 파라미터 순서는 영향이 없다.
msg3 = "{name}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg3.format(mm=10, name="종강일", dd=20,yy=2023))

종강일은 2023년 10월 20일 입니다.

In [157]:
# 혼합사용 -> 숫자형식의 치환문자가 format() 메서드 안에서 먼저 위치해야 한다.
msg4 = "{0}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg4.format("생일", yy=2023, mm=1, dd=31))

생일은 2023년 1월 31일 입니다.

In [163]:
# 인덱스 번호는 format() 함수 내의 순서 -> 형식 문자열 안에서는 자유롭게 배치 
fmt5 = "{1} {name}는 이 {0}입니다." 
rst = fmt5.format("책","좋은", name="교과서")
print(rst)

좋은 교과서는 이 책입니다.

In [165]:
# 전체 글자수 세기 -> 한글, 영문 구분없이 1글자씩 카운트
mystr ="Hello Python"
length = len(mystr)
print(length)

12

In [167]:
# 반환되는 값을 변수에 지정하지 않고 직접 출력도 가능함.
print( len("안녕하세요 파이썬"))

9

In [1]:
# 정수를 문자열로 변환 --> 데이터 타입과 결과값 확인
num1 = 123
num1_s= str(num1)
print(type(num1_s))
print(num1_s)

<class 'str'>
123

In [2]:
# 실수를 문자열로 변환 --> 데이터 타입과 결과값 확인
num2 = 123.45
num2_s = str(num2)
print(type(num2_s))
print(num2_s)

<class 'str'>
123.45

In [5]:
# 불리언을 문자열로 변환 -->데이터 타입과 결과값 확인
bool1 = True
bool1_s = str(bool1)
print(type(bool1_s))
print(bool1_s)

<class 'str'>
True

In [7]:
# 실습을 위한 샘플 문자열
mystr ="파이썬은 웹 프로그랭이나 데이터 분석에 많이 사용되는 언어입니다."

In [9]:
# 글자 카운트
print( mystr.count("이"))
print( mystr.count("가"))

4
0

In [12]:
# 단어 카운트
print( mystr.count("파이썬"))
print( mystr.count("Python"))

1
0

In [13]:
# 실습을 위한 문자열
message = "내가 좋아하는 것에만 집중하기로 했다."

In [15]:
# 글자의 위치 조회 (찾지 못할 경우 -1을 반환한다.)
print( message.find("가"))
print( message.find("나"))

1
-1

In [18]:
# 단어의 시작위치 조회 (찾지 못할 경우 -1을 반환한다.)
print( message.find("집중"))
print( message.find("파이썬"))

12
-1

In [19]:
#실습을 위한 문자열
sentence = "사람의 사람에 의한 사람을 위한"

In [21]:
#글자 검색
#-> 마지막으로 나타나는 글자의 위치를 왼쪽에서 0부터 카운트
# ->찾지 못할 경우 -1을 리턴
print( sentence.rfind("사"))
print( sentence.rfind("자"))

11
-1

In [25]:
# 문자열이 대문자로 구성된 경우 True
test3 = "HELLO"
print(test3.isupper())

# 문자열이 대문자로 구성되지 않은 경우 False
test4 = "Hello"
print(test4.isupper())

True
False

In [30]:
#문자열이 소문자로 구성된 경우 True
test5 ="hello"
print(test5.islower())

# 문자열이 소문자로 구성되지 않은 경우 False
test6 ="Hello"
print(test6.islower())

True
False

In [32]:
mystr = "Hello Python"

In [36]:
up = mystr.upper()
print(up)

HELLO PYTHON

In [38]:
lw = mystr.lower()
print(lw)

hello python

In [40]:
print(mystr)

Hello Python

In [42]:
# 대문자는 소문자로, 소문자는 대문자로 변환한 결과를 반환한다.
print( mystr.swapcase())

hELLO pYTHON

In [44]:
# 문장의 첫 글자를 대문자로 변환한 결과를 반환한다.
# ->나머지 모든 글자는 소문자 처리함
print( mystr.capitalize())

Hello python

In [46]:
# 각 단어의 첫 글자를 대문자로 변환한 결과를 반환한다.
print( mystr.title())

Hello Python

In [49]:
k ="        python      "
print("[" +k+"]")

#앞뒤 공백 제거 
x = k.strip()
print("[" + x+ "]")
#왼쪽 공백 제거
y =k.lstrip()
print("[" +y+ "]")
#오른쪽 공백 제거
z = k.rstrip()
print("[" +z+"]")

[        python      ]
[python]
[python      ]
[        python]

In [51]:
myMessage = "Hello World"

newMessage = myMessage.replace("World","Python")
print( newMessage)

print(myMessage)

Hello Python
Hello World

In [53]:
sample1 = "파이썬,데이터분석,머신러닝"
slist1= sample1.split(",")
slist1 = sample1.split(",")
print(slist1)

['파이썬', '데이터분석', '머신러닝']

In [55]:
sample2 ="파이썬 데이터분석 머신러닝"
slist2 = sample2.split()
print(slist2)

['파이썬', '데이터분석', '머신러닝']

In [57]:
test1 ="123"
print(test1.isnumeric())

True

In [ ]:
test2 ="Hello123"
print(test2.isnumeric())