In [5]:
 #딕셔너리 정의하기
mydic = {"name":"철수", "phone": "010-1234-5678","birth":"0115"}
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [8]:
print(mydic["name"]) # 특정 원소에 접근하기 ->직접 출력

철수

In [11]:
phone = mydic["phone"] # 특정 원소에 접근하기 ->다른 변수에 복사
print(phone)

010-1234-5678

In [14]:
mydic["name"]="호영" #특정 원소의 값을 변경
print(mydic)

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115'}

In [16]:
#존재하지 않는 키에 값을 할당하면 확장
foo = {"a":100,"b":200}
foo["c"] = 300
print(foo)

{'a': 100, 'b': 200, 'c': 300}

In [19]:
#키가 중복될 경우 하나를 제외한 나머지는 무시됨.
#->일반적으로 나중에 정의된 항목이 이전에 정의된 항목을 덮어 씀
data = {"msg":"hello","msg":"world","msg":"python"}
print(data['msg'])
data

python

{'msg': 'python'}

In [24]:
#리스트의 원소가 딕셔너리가 되는 경우
grade = [
    {"name":"철수","kor":95,"eng":88},
    {"name":"영희","kor":92,"eng":90},
    {"name":"철민","kor":88,"eng":76}
]

In [27]:
print("0번째 원소: %s" % grade[0])
print("1번째 원소: %s" % grade[1])
print("2번째 원소: %s" % grade[2])

0번째 원소: {'name': '철수', 'kor': 95, 'eng': 88}
1번째 원소: {'name': '영희', 'kor': 92, 'eng': 90}
2번째 원소: {'name': '철민', 'kor': 88, 'eng': 76}

In [29]:
tpl = "{0}의 국어점수:{1},영어점수:{2}"
print( tpl.format(grade[0]["name"],grade[0]["kor"],grade[0]["eng"]))
print( tpl.format(grade[1]["name"],grade[1]["kor"],grade[1]["eng"]))
print( tpl.format(grade[2]["name"],grade[2]["kor"],grade[2]["eng"]))

철수의 국어점수:95,영어점수:88
영희의 국어점수:92,영어점수:90
철민의 국어점수:88,영어점수:76

In [34]:
student = {
    "name": ['철수', '민수','호영'],
    "age":[16,17,19],
    "height":[172.4,168.2,170.5]
}

tpl = "[%s] 나이: %d세, 키: %0.1fcm"
print(tpl % (student['name'][0], student['age'][0], student['height'][0]))
print(tpl % (student['name'][1], student['age'][1], student['height'][1]))
print(tpl % (student['name'][2], student['age'][1],student['height'][1]))

[철수] 나이: 16세, 키: 172.4cm
[민수] 나이: 17세, 키: 168.2cm
[호영] 나이: 17세, 키: 168.2cm

In [42]:
phone = {
    "apple": {
        "name": "iPhone",
        "price":  "200$"
    },
    "samsung": {
        "name": "Galluxy",
        "price": "200만원"
    }
}

In [44]:
tpl = "%s의 가격은 %s입니다."
print(tpl % (phone['apple']['name'],phone['apple']['price']))
print(tpl % (phone['samsung']['name'],phone['samsung']['price']))

iPhone의 가격은 200$입니다.
Galluxy의 가격은 200만원입니다.

In [47]:
review = {
    "items":[
        {"email": "user1@python.com", "comment":"Good~!!"},
        {"email": "user2@python.com", "comment": "Nice~!!"},
        {"email": "uwer3@python.com", "comment": "Not Bad"}
    ]
}

# items가 배열이므로 반복문 사용 가능
tpl = "email: {0}, comment: {1}"
for item in review["items"]:
    print(tpl.format(item["email"], item["comment"]))

email: user1@python.com, comment: Good~!!
email: user2@python.com, comment: Nice~!!
email: uwer3@python.com, comment: Not Bad

In [52]:
lectures = {
    "title": "파이썬 프로그래밍",
    "subject":[
        {"no":1,"date":"1일차","title":"프로그래밍 언어의 이해"},
        {"no":2,"date":"2일차","title":"변수와 연산자"},
        {"no":3,"date":"3일차", "title":"함수의 이해"},
        {"no":4,"date":"4일차", "title":"조건문과 반복문"}
    ]    
}

print(lectures["title"])

tpl = "No.{0} - {1} :{2}"
for subject in lectures["subject"]:
    print(tpl.format(subject["no"],subject["date"],subject["title"]))

파이썬 프로그래밍
No.1 - 1일차 :프로그래밍 언어의 이해
No.2 - 2일차 :변수와 연산자
No.3 - 3일차 :함수의 이해
No.4 - 4일차 :조건문과 반복문

In [54]:
point = {"korean":98,"math":77,"english":82}
len(point)

3

In [ ]:
point = {"korean":98,"math":77,"english":82}
print(point)

#특정 원소 사제->존재하지 않는 키를 삭제할 경우 에러 발생함.
del(point['english'])
print(point)

In [57]:
#샘플데이터
dic = {"name":"철수","phone":"010-1234-5678", "birth":"0115"}

#특정 key 에 대응하는 값 얻기 ->dic["name"]과 동일
print(dic.get("name"))

철수

In [60]:
#존재하지 않는 key에 접근하는 경우--> 에러아님(None이 반환됨)
print(dic.get("gender"))

None

In [63]:
성적표 = {"국어":92, "수학":88,"영어": 72}

In [65]:
keys = 성적표.keys()
print(keys)

dict_keys(['국어', '수학', '영어'])

In [67]:
key_list = list(keys)
print(key_list)

['국어', '수학', '영어']

In [69]:
keyList = list(성적표.keys())
keyList

['국어', '수학', '영어']

In [76]:
성적표 = {"국어":92, "수학":88,"영어":72}

In [79]:
#Value만 모아서 dict_values객체로반환
values = 성적표.values()
print(values)

dict_values([92, 88, 72])

In [81]:
#dict_values 를 list로 변환
value_list = list(values)
print(value_list)

[92, 88, 72]

In [83]:
#변환 과정(values()--->list())을 일괄처리
valueList = list(성적표.values())
valueList

[92, 88, 72]

In [86]:
성적표1 = {"국어":92, "수학":88,"영어":72 }
성적표2 = {"물리":78,"화학":82}

성적표1.update(성적표2)
print(성적표1)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [88]:
성적표최종 = 성적표1.copy()
print(성적표최종)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [1]:
bar = {"a":100,"b":200}
print(bar)

#모든 원소 삭제 
bar.clear()
print(bar)

{'a': 100, 'b': 200}
{}

In [3]:
x = int(input("숫자를 입력하세요."))

#x에 0이 입력된 경우 에러가 발생함.
y = 100/x
print("결과는 %d입니다."%y)

결과는 50입니다.

In [5]:
mylist = [92,76,83,64,95]
mysum = 0

x= int(input("인원수를 입력하세요."))

for i in range(x):
    mysum +=mylist[i]

print("합계는 %d입니다."% mysum)

합계는 168입니다.

In [7]:
f = open("helloworld.txt","w",encoding='utf-8')
f.write("Hello Python!!!\n")
f.write("안녕하세요. 파이썬!!!\n")
f.close()

In [10]:
f = open("helloworld.txt", "r", encoding='utf-8')

data =f.read()
print(data)
f.close()

Hello Python!!!
안녕하세요. 파이썬!!!

In [14]:
with open("hellopy8thon.txt", "w",encoding='utf-8')as f:

    for i in range(0,10):
        f.write("%d>>" % i)
        f.write("Life is too short, ")
        f.write("you need python\n")

    print("파일 저장이 완료되었습니다.")

파일 저장이 완료되었습니다.

In [5]:
with open("hellopython.txt", "r", encoding='utf-8') as f:
    data = f.read()
    print(data)

0>>Life is too short, you need python
1>>Life is too short, you need python
2>>Life is too short, you need python
3>>Life is too short, you need python
4>>Life is too short, you need python
5>>Life is too short, you need python
6>>Life is too short, you need python
7>>Life is too short, you need python
8>>Life is too short, you need python
9>>Life is too short, you need python

In [6]:
with open("helloworld.txt","r",encoding='utf-8')as f:

    lines = f.readlines()
    print(lines)
    print("-"*30)

    size = len(lines)
    print("읽어들인 데이터는 총 %d입니다."% size)
    print("-"*30)

    for item in lines:

        print(item.strip())

['Hello Python!!!\n', '안녕하세요. 파이썬!!!\n']
------------------------------
읽어들인 데이터는 총 2입니다.
------------------------------
Hello Python!!!
안녕하세요. 파이썬!!!

In [20]:
grade = [
    {"name":"철수", "kor":95, "eng":88,"math": 72},
    {"name":"영희","kor":92,"eng":90,"math":95},
    {"name":"철민","kor":88,"eng":76,"math":64}
]

tpl = "{0},{1},{2},{3}\n"
with open("grade.csv","w",encoding='utf-8')as f:
    f.write("이름,국어,영어,수학\n")

    for item in grade:
        tmp = tpl.format(item["name"],item["kor"],item["eng"],item["math"])
        f.write(tmp)

In [26]:
grade_dic = {
    '이름': ['철수','영희','민철','수현','호영'],
    '국어': [98,88,92,63,120],
    '영어': [76,90,70,60,50],
    '수학': [88,62,88,31,76],
    '과학': [64,72,45,70,88]
}

tpl = "{0},{1},{2},{2},{4}\n"
keys = list(grade_dic.keys())
p=","
title = p.join(keys)

with open("grade2.csv","w",encoding='utf-8')as f:
    f.write(title + "\n")

    for i in range(0, len(grade_dic['이름'])):
        tmp = tpl.format(grade_dic['이름'][i],grade_dic['국어'][i],grade_dic['영어'][i],
                         grade_dic['수학'][i],grade_dic['과학'][i])
        
        f.write(tmp)

In [30]:
csv_list = None

with open("grade.csv","r",encoding="utf-8")as f:
    csv_list = f.readlines()

print(csv_list)

data=[]

for i, line in  enumerate(csv_list):

    if i==0:
        continue
    k=line.strip().split(",")

    item = {"name": k[0],"kor":int(k[1]),"eng":int(k[2]), "math": int(k[3])}
    data.append(item)

data

['이름,국어,영어,수학\n', '철수,95,88,72\n', '영희,92,90,95\n', '철민,88,76,64\n']

[{'name': '철수', 'kor': 95, 'eng': 88, 'math': 72},
 {'name': '영희', 'kor': 92, 'eng': 90, 'math': 95},
 {'name': '철민', 'kor': 88, 'eng': 76, 'math': 64}]

In [ ]:
try:
    with open("covid19.csv",'r',encoding='euc-kr')as f:
        csv_list = f.readlines()
        for i in range(5):
            print(csv_list[i].strip())
        size = len(csv_list)-1

        seoul_confirm_sum = 0
        seoul_death_sum=0
        nation_confirm_sum = 0
        nation_death_sum = 0

        for u, line in enumerate(csv_list):
            if i ==0:
                continue
            k=line.strip().split(",")

            if k[1].isnumeric():seoul_confirm_sum+=int(k[1])
            if k[2].isnumeric():seoul_death_sum += int(k[2])
            if k[3].isnumeric():nation_confirm_sum += int(k[3]) 
            if k[4].isnumeric():nation_death_sum += int(k[4])

        print("서울 일 평균 확진자 수 : %.2f명"% (seoul_confirm_sum/size))
        print("서울 일 평균 사망자 수: %.2f명"% (seoul_death_sum/size))
        print("전국 일 평균 확진자 수 : %.2f명"% (nation_confirm_sum/size))
        print("전국 일 평균 사망자 수 : %.2f명"% (nation_death_sum/size))
        
except Exception as e:
    print("CSV파일 처리에 실패했습니다.",e)
finally:
    print("-"*30)
    print("작업이 완료되었습니다.")

CSV파일 처리에 실패했습니다. 'utf-8' codec can't decode byte 0xb3 in position 0: invalid start byte
------------------------------
작업이 완료되었습니다.