In [24]:
from hossam import load_data
from pandas import DataFrame
from matplotlib import pyplot as plt
from matplotlib import font_manager as fm
import seaborn as sb
import numpy as np

#클러스터링 관련 참조
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from scipy.spatial import ConvexHull

#Elbow Point 계산 라이브러리
from kneed import KneeLocator

from sklearn.metrics import silhouette_samples, silhouette_score

from scipy.stats import normaltest
from matplotlib import cm
my_dpi =200

In [25]:
origin = load_data("iris")
origin.head()

1936년 영국의 통계학자 로널드 피셔(Ronald A. Fisher)가 소개한 3가지 품종(setosa, versicolor, virginica)의 붓꽃(Iris)에 대한 꽃받침과 꽃잎의 길이와 너비 측정값으로 구성된 유명한 머신러닝 및 데이터 분석용 데이터셋.(출처: Kaggle)

field         description
------------  -------------
Sepal.Length  꽃밭침 길이
Sepal.Width   꽃밭침 너비
Petal.Length  꽃잎 길이
Petal.Width   꽃잎 너비
Species       품종

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
df = origin.drop("Species", axis=1)
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [27]:
best_k=4

In [28]:
estimator = KMeans(n_clusters=best_k)
estimator.fit(df)
cluster = estimator.predict(df)
cluster

array([3, 3, 3, 3, 3, 0, 3, 3, 3, 3, 0, 3, 3, 3, 0, 0, 0, 3, 0, 0, 0, 0,
       3, 3, 3, 3, 3, 0, 3, 3, 3, 0, 0, 0, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3,
       0, 3, 0, 3, 0, 3, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2], dtype=int32)

In [29]:
s_samples = silhouette_samples(X=df, labels=cluster)
s_samples

array([ 0.05355073,  0.54013516,  0.56445137,  0.57635382,  0.04336213,
        0.52215892,  0.48319342,  0.31942415,  0.52579757,  0.52878074,
        0.49605527,  0.42708661,  0.55817908,  0.47096346,  0.46001844,
        0.46523887,  0.49208087,  0.03613024,  0.50268693,  0.35217037,
        0.2086072 ,  0.2543435 ,  0.28552907,  0.15826884,  0.27027723,
        0.4583177 ,  0.24006203,  0.09702733,  0.03592535,  0.54656459,
        0.5479428 ,  0.20659464,  0.4466244 ,  0.51415569,  0.54352972,
        0.41992938,  0.31283656,  0.17481441,  0.53272841,  0.18275151,
        0.19833085,  0.394613  ,  0.52082773,  0.05683165,  0.28074414,
        0.55975376,  0.34736296,  0.57341759,  0.45301038,  0.41882058,
       -0.02672203,  0.36827154,  0.08489767,  0.59610609,  0.35669884,
        0.59416206,  0.27019063,  0.24706276,  0.32755642,  0.58167084,
        0.36015451,  0.58665651,  0.55085685,  0.47851679,  0.56045822,
        0.30479553,  0.5596951 ,  0.61137194,  0.46029717,  0.61379722,
        0.32789488,  0.58776704,  0.30600028,  0.49067062,  0.49172115,
        0.3699518 ,  0.10228902,  0.13663605,  0.55169511,  0.51015408,
        0.59709372,  0.56236872,  0.62074212,  0.26171777,  0.54388732,
        0.41097377,  0.14023247,  0.48624022,  0.60876025,  0.61753462,
        0.59880802,  0.49937322,  0.62586683,  0.27705353,  0.63037188,
        0.60742355,  0.62366862,  0.55341424,  0.12164847,  0.63254678,
        0.49054423,  0.2374282 ,  0.60678041,  0.35627269,  0.54948931,
        0.53876872,  0.47192036,  0.55472382,  0.43660336,  0.55652443,
        0.26625899,  0.22859055,  0.55205776,  0.29079076,  0.03419264,
        0.39464348,  0.41984494,  0.49142055,  0.47818629,  0.33026823,
        0.60151742,  0.33856456,  0.50780938,  0.19845954,  0.5752626 ,
        0.57549154,  0.30554446,  0.24951212,  0.44720331,  0.5170658 ,
        0.55652412,  0.48296828,  0.45484103,  0.13179437,  0.05116649,
        0.54825077,  0.44895922,  0.38727328,  0.35005863,  0.53421615,
        0.56369649,  0.41354716,  0.2374282 ,  0.60592968,  0.56038091,
        0.42456089,  0.10312482,  0.31680983,  0.34785545,  0.18742256])

In [30]:
s_score = silhouette_score(X=df, labels=cluster)
s_score

0.4089860717743076

In [ ]:
def visualize_silhouette(estimator, X_features):
    fig, (ax1, ax2)= plt.subplots(nrows=1, ncols=2, figsize=)